<div class="container-fluid">
  <div class="row" id="fondo">
    <div>
      <div class="col">
        <h2 class="mt-5 mb-3" style="color: #c2eceb; text-align: center; text-shadow: rgb(52, 214, 174) 1px 0 10px;">
          Relación con el Marco para el Desarrollo de las Estadísticas Ambientales (MDEA)
        </h2>
      </div>
    </div>

    <div class="col-12 ">
      <div class="container">
        <br>
        <div class="mb-2" style="margin-left: 10px;">
          <p>
            El MDEA 2013 organiza las estadísticas ambientales en seis componentes, cada uno
            de los cuales se desagrega en subcomponentes y a su vez en tópicos estadisticos. Los seis componentes
            incluyen: condiciones y calidad ambiental; disponibilidad y uso de los recursos
            ambientales y las actividades humanas relacionadas; el uso del ambiente como sumidero de
            residuos y actividades humanas relacionadas; eventos naturales extremos y desastres; asentamientos humanos y
            salud ambiental; y medidas sociales y económicas para proteger y gestionar el ambiente. Los temas
            estadísticos representan los aspectos cuantificables de los componentes y están agrupados en subcomponentes,
            tomando en cuenta los tipos y fuentes de las
            estadísticas necesarias para describirlos.
          </p>
          
          <div class="row">
            <div class="col">
              <p >El MDEA se compone de tres niveles: el componente principal se enfoca en bases esenciales para la educación sostenible, seguido por subcomponentes que se centran en áreas específicas como educación ambiental y habilidades para la vida. Cada subcomponente se desglosa en tópicos concretos, como conservación ambiental y diversidad.
              </p>
              <p>Conoce la Estructura del MDEA: </p>
              <br>
            </div>
          </div>
          <div style="text-align: center;" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
            <img id="mdeaimg" src="./assets/mdeacomp.png" type="button">
           </div>
        </div>
      </div>
        <!-- Estructura MDEA -->
      <div class="container">
       <div class="row">
        <div class="col">
          <div class="mt-5">
            <h3 style="color: aliceblue;">Informacion Estadistica</h3>
           <div class="card">
            <p class="mt-3" style="color:darkblue; margin-left: 10px">
              Dentro de este sistema de inventario de productos que se extraen de la Base de datos del SIIERNMA se puede encontrar su relación con la estrucutra del MDEA.
            </p>
            <div class="card-body">
               <!-- Graficos correspondientes -->
              <p style="display: contents; color: #113250;">En el siguiente gráfico, se puede observar cuantitavamente la cantidad de productos del INEGI que se apegan los Componentes y Subcomponentes del MDEA:</p>   
              <hr style="height: 5px; background-color: #186b6a;">
              <figure class="highcharts-figure">
                <div id="container-pie-componentes"></div>
              </figure>
              <br>
            
              <div class="row">
                <div class="card col-12">
                  <div style="text-align:center">Total de productos del INEGI que se apegan a los componentes del MDEA </div>
                </div>
              </div>
             

              <div class="row" >
                <div class=" col-4 mt-2" *ngFor="let componente of componentesMDEA">
                  <ul>
                    <h1 class="mt-3" style="text-align: center;"><i [ngClass]="'bi ' + iconosComp[componente.id]"></i></h1>
                    <li style="text-align: center;">{{ componente.text }}</li>
                    <div style="text-align: center; color: #186b6a;  font-weight: bold">{{ longitudesPorCompId[componente.id] }}</div>     
                  </ul>
                </div>
              </div>
            

              <hr style="height: 5px; background-color: #186b6a;">
              <figure class="highcharts-figure">
                <div id="container-pie-subcomponentes"></div>
              </figure>
            <br>

              <div class="row">
                <div class="card col-12">
                  <div style="text-align:center">Total de productos del INEGI que se apegan a los subcomponentes del MDEA </div>
                </div>
              </div>
      
            <div style="max-height: 600px; overflow-y: scroll;">
              <div class="row">
                <div class="col-4 mt-2"  *ngFor="let subcomponente of subComponentesMDEA">
                  <ul>
                    <h1 class="mt-3" style="text-align: center;"><i [ngClass]="'bi ' + iconosSubComp[subcomponente.id]"></i></h1>
                    <li style="text-align: center;">{{ subcomponente.text }}</li>
                    <div style="text-align: center; color: #186b6a; font-weight: bold">{{ longitudesPorSubCompId[subcomponente.id] }}</div>     
                  </ul>
                </div>
              </div>
            </div>

              </div>
             </div>
           </div>          
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button class="scroll-to-top-button" (click)="scrollToTop()" style="border-radius: 20px;">
  <i class="bi bi-arrow-up-circle "></i></button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-gradient">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12">
                <div class="container-fluid" id="treegraph-container"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    


 
