
<div class="container-fluid" style="background-color: #f0f0f0;">

<div class="container">
  <div class="row">
    <div class="col mt-2">
      <h3>Enlaces de interés</h3>
  

 <div class="card mb-5" style="border: 1px solid #d9d9d7; padding: 20px;  border-radius: 10px;">
  <div class="card-body">

    <div class="mt-5 mb-2"></div>
    <div class="row m-12">
     <div class="col-4">
      <div class="d-flex justify-content-center" >
          <a href="https://educa.cndh.org.mx/" target="_blank"><img class="img-fluid d-block m-1"  src="./assets/educacndh.png"></a>
     </div>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center ">
       <a href="http://www.comitedeevaluacion.org.mx/" target="_blank"><img class="img-fluid d-block m-1"  src="./assets/comite.jpg"></a>
      </div>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center ">
        <a href="https://www.inegi.org.mx/inegi/cca/" target="_blank"><img class="img-fluid d-block m-1"  src="./assets/cca_ei.png"></a>
     </div>
    </div>

    <div class="mt-5 mb-2"></div>
    <div class="row m-12">

    <div class="col-4">
      <div class="d-flex justify-content-center ">
        <a href="https://www.inegi.org.mx/inegi/ccu/" target="_blank"><img class="img-fluid d-block m-1"  src="./assets/ccu_ei.png"></a>
     </div>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center ">
        <a href="https://www.inegi.org.mx/infraestructura/hecra/" target="_blank"><img class="img-fluid d-block m-1"  src="./assets/hecra_ei.png"></a>
     </div>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center ">
        <a href="https://iiasa.ac.at/web/home/education/yssp/Young_Scientists_Summer_Program.html" target="_blank"><img class="img-fluid d-block m-1" style="width: 15rem; height: 5rem;" src="./assets/iiasa.png"></a>
     </div>
    </div>

    <div class="mt-5 mb-1"></div>

    <div class="row m-12">

    <div class="col-4">
      <div class="d-flex justify-content-center ">
        <a href="https://geoweb2.inegi.org.mx/sicade/" target="_blank"><img class="img-fluid d-block m-1" src="./assets/ic_sicade.png"></a>
     </div>
    </div>

    <div class="col-4">
      <div class="d-flex justify-content-center ">
        <a href="https://sc.inegi.org.mx/SIESVIM1/paginas/inicio.jsf" target="_blank"><img class="img-fluid d-block m-1" src="./assets/siesvim.png"></a>
     </div>
    </div>
    </div>

    <div class="mt-5 mb-1"></div>
    <div class="row m-12">
    </div>
 
    </div>
   </div>
   </div>
  </div>
 </div>
 </div>

</div>
</div>