<!--! clean -->
<div class="container-fluid">
  <!--! titulo -->
  <div class="row">
    <div class="col">
      <h3 class="display-6 titulo">
        Productos Generados en las Direcciones Generales del INEGI.</h3>
      <hr style="color: #113250;">
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card flex flex-column align-items-center justify-content-center" *ngIf="files.length > 0">

        <p-tree [value]="files" selectionMode="checkbox" class="w-full md:w-30rem" [(selection)]="selectedFiles" [propagateSelectionUp]="false"
          [propagateSelectionDown]="false"   (onNodeSelect)="filtroMdea()" (onNodeUnselect)="filtroMdea()"></p-tree>



      </div>

      <div class="card flex flex-column align-items-center justify-content-center" *ngIf="files.length == 0">

        <div class="col-12 d-flex align-items-center mt-4">
          <h5 class="card-title placeholder-glow w-100 text-center">
            <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
          </h5>
        </div>
        <div class="col-12 d-flex align-items-center mt-2">
          <h5 class="card-title placeholder-glow w-100 text-center">
            <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
          </h5>
        </div>
        <div class="col-12 d-flex align-items-center mt-2">
          <h5 class="card-title placeholder-glow w-100 text-center">
            <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
          </h5>
        </div>
        <div class="col-12 d-flex align-items-center mt-2">
          <h5 class="card-title placeholder-glow w-100 text-center">
            <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
          </h5>
        </div>
        <div class="col-12 d-flex align-items-center mt-2">
          <h5 class="card-title placeholder-glow w-100 text-center">
            <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
          </h5>
        </div>
        <div class="col-12 d-flex align-items-center mt-2 mb-4">
          <h5 class="card-title placeholder-glow w-100 text-center">
            <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
          </h5>
        </div>



      </div>

    </div>


    <div class="col" >
      <div style="min-height: 100vh;">
      <div class="row" *ngFor="let item of paginatedProducts; let i = index">

        <div class="col">
          <div class="card mb-3">
            <div class="card-header">
              <div class="d-flex align-items-center">
                <!-- Iconos basados en la condición -->
                <i [ngClass]="getIconClass(item.dg_prod)"></i>

                <div class="grid-container">
                  <label class="truncate titulodetarjeta">{{ item.nom_prod }}</label>
                </div>

                <div class="text-end d-flex align-items-center">
                  <button type="button" class="btn stylebuton" (click)="toggleCollapse(i)">
                    Más Información
                  </button>
                </div>
              </div>
            </div>

            <!-- <div [ngClass]="{'collapse': selectedCardIndex !== i, 'show': selectedCardIndex === i}"></div> -->
            <div class="card-body" [ngClass]="{'collapse': selectedCardIndex !== i, 'show': selectedCardIndex === i}">
              <div class="row">
                <div class="col-6">

                  <div>
                    <label>Producto de tipo:
                      <label class="badge custom-badge">{{ getTipoProd(+item.tipo_prod__1, +item.tipo_prod__2) }}</label>
                    </label>
                  </div>

                  <div>
                    <label>Cobertura del producto:
                      <ng-container *ngFor="let cobertura of getCoberturas(item)">
                        <label class="badge custom-badge" [title]="cobertura">
                          {{ truncateText(cobertura, 25) }}
                        </label>
                      </ng-container>
                    </label>
                  </div>

                  <div><label>El producto se fragmenta:
                      <label class="badge custom-badge">{{ getFragmentacionText(item) }}</label>

                      <div *ngIf="isFragmentado(item)">
                        <div class="col-12">
                          <label>Número de fragmentos: </label>
                          <label class="badge custom-badge marlef">
                            {{ item?.n_fragmenta }}
                          </label>
                        </div>
                      </div>
                    </label>
                  </div>

                  <div>
                    <label>Año de publicación:
                      <label class="badge custom-badge">{{ item?.a_publicacion}}
                        {{item?.a_publicacion2 ? (
                        ' - ' + item?.a_publicacion2): ''}}
                      </label>
                    </label>
                  </div>
                  <div><label>Año de referencia:
                      <label class="badge custom-badge">
                        {{
                        item?.a_referencia }}{{
                        item?.a_referencia2 ? (
                        ' - ' + item?.a_referencia2) : ''}}
                      </label>
                    </label></div>


                  <!--! se actualiza -->
                  <div>
                    <label *ngIf="seActualiza(item)">
                      Se actualiza:

                      <label class="badge custom-badge" [title]="getTituloActualizacion(item)">
                        {{ getTruncatedTextoActualizacion(item, 25) }}
                      </label>

                    </label>

                    <label *ngIf="item?.actualizacion === 2">
                      Se actualiza:

                      <label class="badge custom-badge">No</label>
                    </label>
                  </div>
                </div>
                <div class="col">
                  <div>

                    <label>Escala geográfica:&nbsp;</label>


                    <label class="badge custom-badge" *ngIf="item?.escala">
                      {{ item?.escala != 14 ? getEscalasText(item?.escala) :
                      item?.o_escala }}
                    </label>



                    <span *ngIf="!item?.escala">

                      <label class="badge custom-badge">Ninguna</label>
                    </span>

                  </div>

                  <div>
                    <label>Ligas de acceso:&nbsp;</label>

                    <a (click)="$event.stopPropagation()" target="_blank" [href]="item?.liga">
                      Enlace.
                    </a>

                  </div>
                  <div>

                    <label>Cuenta con metodología:&nbsp;</label>

                    <a *ngIf="item?.metodologia == 1" (click)="$event.stopPropagation()" [href]="item?.liga_metodologia"
                      target="_blank">
                      Enlace.
                    </a>




                    <label class="badge custom-badge" *ngIf="item?.metodologia == 2">No</label>

                  </div>

                  <div>
                    <label>Soporte del producto:&nbsp;</label>

                    <label *ngIf="item?.tipo_soporte__1 == 1" class="badge custom-badge">Datos Geográficos</label>

                    <label *ngIf="item?.tipo_soporte__2 == 1" class="badge custom-badge">Tabulado</label>

                    <label *ngIf="item?.tipo_soporte__3 == 1" class="badge custom-badge">Publicaciones</label>

                    <label *ngIf="item?.tipo_soporte__4 == 1" class="badge custom-badge">{{item?.o_soporte}}</label>

                  </div>

                  <div
                    *ngIf="item?.formato_geo__1 == 1 || item?.formato_geo__2 == 1 || item?.formato_geo__3 == 1 || item?.formato_geo__4 == 1 || item?.formato_geo__5 == 1">
                    <label>Formato del datos geográfico:
                      <label class="badge custom-badge">{{ item?.formato_geo__1 == 1 ? 'Shapefile' : '' }}</label>

                      <label class="badge custom-badge">{{ item?.formato_geo__2 == 1 ? 'Raster (TIIF, GIF, BIL, etc.)' : ''
                        }}</label>

                      <label class="badge custom-badge">{{item?.formato_geo__3 == 1 ? 'GeoPDF' : ''}}</label>

                      <label class="badge custom-badge">{{item?.formato_geo__4 == 1 ? 'PDF' : ''}}</label>

                      <label class="badge custom-badge">{{item?.formato_geo__5 == 1 ? item?.o_formato_geo : ''}}</label>

                    </label>
                  </div>

                  <div
                    *ngIf="item?.formato_tab__1 == 1 || item?.formato_tab__2 == 1 || item?.formato_tab__3 == 1 || item?.formato_tab__4 == 1 || item?.formato_tab__5 == 1">
                    <label>Formato del tabulado:

                      <label class="badge custom-badge">{{ item?.formato_tab__1 == 1 ? '.dbf' : '' }}</label>

                      <label class="badge custom-badge">{{item?.formato_tab__2 == 1 ? '.csv' : ''}}</label>

                      <label class="badge custom-badge">{{item?.formato_tab__3 == 1 ? '.txt' : ''}}</label>

                      <label class="badge custom-badge">{{item?.formato_tab__4 == 1 ? '.xlsx' : ''}}</label>

                      <label class="badge custom-badge">{{item?.formato_tab__5 == 1 ? item?.o_formato_tab : ''}}</label>

                    </label>
                  </div>

                </div>
              </div>
              <div class="row mt-2">
                <div class="col">

                  <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                      <button class="gizards nav-link active" id="variable-tab" data-bs-toggle="tab"
                        data-bs-target="#variable-tab-pane" type="button" role="tab" aria-controls="variable-tab-pane"
                        aria-selected="true">Variables</button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button class="gizards nav-link" id="proinf-tab" data-bs-toggle="tab" data-bs-target="#proinf-tab-pane"
                        type="button" role="tab" aria-controls="proinf-tab-pane" aria-selected="false">Programas de
                        Información</button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button class="gizards nav-link" id="aeg-tab" data-bs-toggle="tab" data-bs-target="#aeg-tab-pane"
                        type="button" role="tab" aria-controls="aeg-tab-pane" aria-selected="false">Actividades Estadísticas o
                        Geográficas</button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button class="gizards nav-link" id="mdea-tab" data-bs-toggle="tab" data-bs-target="#mdea-tab-pane"
                        type="button" role="tab" aria-controls="mdea-tab-pane" aria-selected="false">MDEA</button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button class="gizards nav-link" id="ods-tab" data-bs-toggle="tab" data-bs-target="#ods-tab-pane"
                        type="button" role="tab" aria-controls="ods-tab-pane" aria-selected="false">ODS</button>
                    </li>

                    <li class="nav-item" role="presentation">
                      <button class="gizards nav-link" id="ps-tab" data-bs-toggle="tab" data-bs-target="#ps-tab-pane"
                        type="button" role="tab" aria-controls="ps-tab-pane" aria-selected="false">Programas
                        Sectoriales</button>
                    </li>

                  </ul>

                  <div class="tab-content" id="myTabContent">

                    <!--! variables -->
                    <div class="tab-pane fade show active" id="variable-tab-pane" role="tabpanel"
                      aria-labelledby="variable-tab" tabindex="0">
                      <label>Estamos en variables</label>
                    </div>
                    <!--! Programas de Información -->
                    <div class="tab-pane fade" id="proinf-tab-pane" role="tabpanel" aria-labelledby="proinf-tab" tabindex="0">
                      <label>Estamos en Programas de Información</label>
                    </div>
                    <!--! Actividades Estadísticas o Geográficas -->
                    <div class="tab-pane fade" id="aeg-tab-pane" role="tabpanel" aria-labelledby="aeg-tab" tabindex="0">
                      <label>Estamos en Actividades Estadísticas o Geográficas</label>
                    </div>
                    <!--! MDEA -->
                    <div class="tab-pane fade" id="mdea-tab-pane" role="tabpanel" aria-labelledby="mdea-tab" tabindex="0">
                      <label>Estamos en MDEA</label>
                    </div>
                    <!--! ODS -->
                    <div class="tab-pane fade" id="ods-tab-pane" role="tabpanel" aria-labelledby="ods-tab" tabindex="0">
                      <label>Estamos en ODS</label>
                    </div>
                    <!--! Programas Sectoriales -->
                    <div class="tab-pane fade" id="ps-tab-pane" role="tabpanel" aria-labelledby="ps-tab" tabindex="0">
                      <label>Estamos en Programas Sectoriales</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <small class="titulodeDirecciones">{{getDireccionGeneral(item.dg_prod)}}</small>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngIf="paginatedProducts.length == 0" style="margin-bottom: 100vh;">
            <div *ngFor="let card of cardsData">
              <div class="card shadow-on-hover mb-3" aria-hidden="true">
                <div class="row card-body" style="height: 5rem;">

                  <div class="col-2 d-flex align-items-center">
                    <h5 class="card-title placeholder-glow w-100 text-center">
                      <span class="placeholder" style="width: 70%; display: inline-block; height: 1.5rem;"></span>
                    </h5>
                  </div>

                  <div class="col d-flex align-items-center">
                    <h5 class="card-title placeholder-glow w-100 text-center">
                      <span class="placeholder" style="width: 100%; display: inline-block; height: 1.5rem;"></span>
                    </h5>
                  </div>

                  <div class="col-2 text-end d-flex align-items-center">
                    <div class="ms-auto">
                      <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                        style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                                --bs-btn-font-size: .75rem; background-color: #113250; color: #113250; font-family: Helvetica, Sans-Serif;">
                        Mas Información
                      </button>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>

      </div>

      <div class="card flex justify-content-center">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="arrProductos.length"
          [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
      </div>


    </div>
  </div>







</div>
