.container {
  min-height: 70vh;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  /* Preserva los saltos de línea */
}
.custom-bg {
  background-color: #113250;
  color: #ffffff;
  /* Ajusta el color del texto para asegurarte de que contraste bien con el fondo */
}
