<div class="container">
<div class="mt-4"><h1 style="color: #113250;">Indicadores en Materia Ambiental.</h1></div>
   <div class="row">
    <div class="col mt-2">
      <p class="customPa">
        Un indicador ambiental es un conjunto de estadísticas ambientales seleccionadas por su capacidad de representar
        fenómenos importantes y tienen como propósito evaluar las direcciones presentes y futuras, estimar y determinar
        el
        impacto de programas específicos, monitorear el progreso, medir cambios de una condición especifica a través del
        tiempo,
        así como transmitir mensajes. Es por esta cuestión que los indicadores ambientales, son considerados una
        herramienta
        clave para los tomadores de decisiones, ya que sintetizan de forma concisa y practica un cúmulo información que
        guarda
        relación con los fenómenos presentes en nuestra dinámica diaria. Es así como INEGI, en su facultad como entidad
        estadística del país, colabora en la consolidación de un entorno con enfoque sostenible para toda la población.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h5>Filtros por temática</h5>
    </div>
    <div class="col" id="BtnFilter">
      <button type="button" class="btn btn-light ancho"(click)="filterByTema('')">Todos</button>
      <button type="button" class="btn btn-agua ancho" (click)="filterByTema('Agua')">Agua</button>
      <button type="button" class="btn btn-atmosfera ancho" (click)="filterByTema('Atmosfera')">Atmósfera</button>
      <button type="button" class="btn btn-residuos ancho" (click)="filterByTema('Residuos')">Residuos</button>
      <button type="button" class="btn btn-suelos ancho" (click)="filterByTema('Suelos')">Suelos</button>
      <button type="button" class="btn btn-energia ancho" (click)="filterByTema('Energia')">Energía</button>
      <button type="button" class="btn btn-biodiversidad-marina ancho"
        (click)="filterByTema('Biodiversidad marina')">Biodiversidad marina</button>
      <button type="button" class="btn btn-biodiversidad-terrestre ancho"
        (click)="filterByTema('Biodiversidad terrestre')">Biodiversidad terrestre</button>
      <button type="button" class="btn btn-forestal ancho" (click)="filterByTema('Forestal')">Forestal</button>
      <button type="button" class="btn btn-proteccion-ambiental ancho"
        (click)="filterByTema('Protección Ambiental')">Protección Ambiental</button>
    </div>

  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th class="col" scope="col">Nombre</th>
              <th class="col text-center" scope="col">Fuente</th>
              <th class="col text-center" scope="col">Temática</th>
              <th class="col-2 text-center" scope="col">Más información</th>
            </tr>
          </thead>
          <tbody>
            <!-- Estado de carga: Spinners dentro de la tabla -->
            <tr *ngIf="isLoading">
              <td colspan="4" class="text-center">
                <div class="d-flex justify-content-center my-3">
                  <div class="spinner-grow text-secondary me-3" role="status"></div>
                  <div class="spinner-grow text-secondary me-3" role="status"></div>
                  <div class="spinner-grow text-secondary" role="status"></div>
                </div>
              </td>
            </tr>
      
            <!-- Fila vacía cuando no hay datos -->
            <tr *ngIf="!isLoading && paginatedData.length === 0">
              <td colspan="4" class="text-center">No hay datos disponibles</td>
            </tr>
      
            <!-- Datos de la tabla -->
            <tr *ngFor="let indicador of paginatedData">
              <td>{{ indicador.nombre }}</td>
              <td class="text-center">{{ indicador.dependencia }}</td>
              <td class="text-center">
                {{ indicador.tema === 'Atmosfera' ? 'Atmósfera' : indicador.tema === 'Energia' ? 'Energía' : indicador.tema }}
              </td>
              <td class="text-center">
                <ng-container *ngIf="indicador.link !== 'N/A'; else noLink">
                  <a [href]="indicador.link" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-globe2"></i>
                  </a>
                </ng-container>
                <ng-template #noLink>
                  <i class="bi bi-emoji-frown" style="color: brown;" [ngbTooltip]="'Sin Información'"
                    tooltipClass="custom-tooltip" placement="top" [animation]="true" [openDelay]="200" [closeDelay]="500"
                    autoClose="true"></i>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <p-paginator 
      (onPageChange)="onPageChange($event)" 
      [first]="first" 
      [rows]="rows" 
      [totalRecords]="filteredIndicadores.length" 
      [rowsPerPageOptions]="[10, 20]"
      [showFirstLastIcon]="!isFirstPage() && !isLastPage(filteredIndicadores.length)"
      >
    </p-paginator>

    </div>
  </div>
  
  


</div>
