.customPa{
  text-align: justify;
  padding-top: 10px;

}

.container {
  min-height: 64vh;
}

:host ::ng-deep .custom-tooltip .tooltip-inner {
  max-width: 800px;
  /* Ajusta el ancho según tus necesidades */
  background-color: #000000e5;
  /* Opcional: Color de fondo personalizado */
  color: #ffffff;
  /* Opcional: Color del texto personalizado */
  border: 1px solid #ccc;
  /* Color del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
  padding: 10px;
  /* Relleno */
  margin: 5px;
  /* Margen */
}
