<div class="container">
  <div class="row">
    <div class="col mt-4">
      <p class="customPa">
        Un indicador ambiental es un conjunto de estadísticas ambientales seleccionadas por su capacidad de representar
        fenómenos importantes y tienen como propósito evaluar las direcciones presentes y futuras, estimar y determinar
        el
        impacto de programas específicos, monitorear el progreso, medir cambios de una condición especifica a través del
        tiempo,
        así como transmitir mensajes. Es por esta cuestión que los indicadores ambientales, son considerados una
        herramienta
        clave para los tomadores de decisiones, ya que sintetizan de forma concisa y practica un cúmulo información que
        guarda
        relación con los fenómenos presentes en nuestra dinámica diaria. Es así como INEGI, en su facultad como entidad
        estadística del país, colabora en la consolidación de un entorno con enfoque sostenible para toda la población.
      </p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-light">
            <tr>
              <th class="col" scope="col">Nombre</th>
              <th class="col-4" scope="col">Dependencia</th>
              <th scope="col">Temática</th>
              <th scope="col">Tipo Indicador</th>
              <th scope="col">Tabla de Datos</th>
              <th scope="col">Hoja Metodológica</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Nombre del indicador</td>
              <td class="text-center">ECOSISTEMAS E INFORMACIÓN AMBIENTAL - Grupo Suelos y Tierras</td>
              <td class="text-center">ECOSISTEMAS</td>
              <td class="text-center">INDICADOR</td>
              <td class="text-center">
                <i tooltipClass="custom-tooltip" placement="top" [animation]="true" [openDelay]="200" [closeDelay]="500"
                  autoClose="true"
                  [ngbTooltip]="'Variación de la superficie de los ecosistemas naturales continentales (VSENC)'"
                  class="bi bi-table">
                </i>
              </td>
              <td class="text-center"><i class="bi bi-globe2"></i></td>
            </tr>
            <tr>
              <td class="text-center">Nombre del indicador</td>
              <td class="text-center">HIDROLOGÍA</td>
              <td class="text-center">AGUA</td>
              <td class="text-center">INDICADOR</td>
              <td class="text-center">
                <i tooltipClass="custom-tooltip" placement="top" [animation]="true" [openDelay]="200" [closeDelay]="500"
                  autoClose="true" [ngbTooltip]="'Índice de calidad del agua en corrientes superficiales -ICA'"
                  class="bi bi-table">
                </i>
              </td>

              <td class="text-center"><i class="bi bi-globe2"></i></td>
            </tr>
            <tr>
              <td class="text-center">Nombre del indicador</td>
              <td class="text-center">METEOROLOGÍA</td>
              <td class="text-center">CLIMA</td>
              <td class="text-center">VARIABLE</td>
              <td class="text-center">
                <i tooltipClass="custom-tooltip" placement="top" [animation]="true" [openDelay]="200" [closeDelay]="500"
                  autoClose="true" [ngbTooltip]="'Precipitación total'" class="bi bi-table">
                </i>
              </td>

              <td class="text-center">
                <i class="bi bi-globe2"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>


</div>
