.customPa{
  text-align: justify;
  padding-top: 10px;

}

.container {
  min-height: 64vh;
}

:host ::ng-deep .custom-tooltip .tooltip-inner {
  max-width: 800px;
  /* Ajusta el ancho según tus necesidades */
  background-color: #000000e5;
  /* Opcional: Color de fondo personalizado */
  color: #ffffff;
  /* Opcional: Color del texto personalizado */
  border: 1px solid #ccc;
  /* Color del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
  padding: 10px;
  /* Relleno */
  margin: 5px;
  /* Margen */
}

.ancho{
  margin-right: 0.25rem;
}
.btn-agua {
  background-color: #007BFF;
  /* Azul claro */
  color: white;
}

.btn-atmosfera {
  background-color: #6C757D;
  /* Gris para el aire */
  color: white;
}

.btn-residuos {
  background-color: #28A745;
  /* Verde para el reciclaje */
  color: white;
}

.btn-suelos {
  background-color: #DC3545;
  /* Rojo para la tierra */
  color: white;
}

.btn-energia {
  background-color: #FFC107;
  /* Amarillo para energía */
  color: black;
}

.btn-biodiversidad-marina {
  background-color: #17A2B8;
  /* Cyan para el océano */
  color: white;
}

.btn-biodiversidad-terrestre {
  background-color: #28A745;
  /* Verde para tierra */
  color: white;
}

.btn-forestal {
  background-color: #5A5B3D;
  /* Verde oscuro para bosques */
  color: white;
}

.btn-proteccion-ambiental {
  background-color: #6F42C1;
  /* Morado para protección ambiental */
  color: white;
}
