<div class="col-12 mt-2">
    <div class="container">
        <h1>Indicadores Ambientales</h1>
        <ul>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quae dolore tempora, impedit officiis nisi debitis quibusdam ratione distinctio suscipit adipisci reprehenderit voluptatem at perspiciatis minima dignissimos, aut eum architecto.
                Sit, quae reprehenderit. Eveniet vel quam aliquam quas ratione culpa enim. Id, ad repudiandae ut dolores ex, eos magnam quas harum quasi, sit voluptatem? Optio consequuntur id consequatur aut cum.
                Reprehenderit sapiente molestias accusamus eligendi laboriosam eveniet animi ut blanditiis consectetur, velit quasi a odit impedit perspiciatis quo quibusdam dignissimos obcaecati, neque ipsam optio earum cumque. Voluptates nisi quasi natus?
                Labore corrupti earum, alias minus enim, reprehenderit quasi quis fugit rem possimus debitis sint similique maiores voluptatibus perspiciatis animi magni porro. Dolorum ad nisi nihil, quisquam provident facere consequuntur. Quibusdam?
                Illo impedit natus eveniet vero ullam earum officia maiores, eligendi magni fugit iste cumque exercitationem harum suscipit dolor accusamus debitis libero atque nostrum eos. Exercitationem reiciendis cum adipisci illo debitis.
                Nobis porro placeat, voluptates nostrum in facere totam tempore excepturi id mollitia iusto repudiandae saepe, error provident vel? Suscipit exercitationem ullam nostrum, dignissimos minus impedit dicta. Aut illo vel molestiae.
                Facilis quasi architecto et alias non. Sunt eos animi maxime itaque totam, reprehenderit voluptates tempore ducimus, sapiente numquam sequi. Aliquam tempore autem quae harum similique in non ipsam ex cum.
                Provident, ipsa tenetur sunt repellendus ea porro placeat voluptatum deleniti? Quaerat nam aut aliquid earum aperiam. Incidunt odit, natus, ipsam inventore deserunt consequuntur autem laborum eos blanditiis soluta placeat. Vitae.
            </li>
                <br>
                <hr>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolores, modi perspiciatis dignissimos vitae veritatis quo quia mollitia! Architecto nulla nisi explicabo, aliquid quaerat dicta odit doloremque omnis nesciunt beatae.
                Assumenda nostrum ad quod corrupti a? Dolorum voluptatibus, provident laborum laudantium quia doloremque similique minima, maiores fugiat enim eveniet, praesentium nam beatae! Repudiandae doloribus sit quisquam tenetur ipsum, nobis labore!
                Perferendis cum omnis deleniti repellendus, voluptatem eaque aut libero velit, ipsam eos ratione! Eos perspiciatis corporis ullam consequatur, sapiente incidunt rerum porro omnis atque obcaecati itaque eius recusandae sequi optio!
                Iste expedita incidunt eius adipisci maiores. Aliquam voluptas laudantium temporibus ipsam ad dolor quaerat esse quam et beatae numquam, neque vel? Autem sunt reiciendis tempore veniam obcaecati officiis animi dicta.
                Labore rerum rem facere iusto eius modi adipisci sed non alias odio, doloribus nobis excepturi eum, perferendis dolor? Consequuntur, deleniti. Mollitia incidunt suscipit in doloremque vitae ullam maxime obcaecati! At!
                Blanditiis accusantium accusamus unde quasi beatae, libero nostrum, voluptatum ducimus expedita animi illo placeat labore quas voluptatem. Tempore optio repudiandae, autem id totam sunt quae! Aspernatur rerum iusto illo incidunt.
                Eum impedit nihil unde, architecto reprehenderit quam ipsa inventore, iusto, officia nostrum molestias quos earum quasi sint aut illo excepturi mollitia eos sed explicabo incidunt ad aspernatur adipisci. Alias, numquam.
                Eius, exercitationem ducimus. Accusamus eos eligendi voluptatem. Ipsa eveniet rem, aliquam accusamus libero soluta laudantium quibusdam sequi eius sit nesciunt, iusto vero, corporis suscipit enim deserunt? Est vel magnam quo?
            </li>
        </ul>
    </div>
</div>
