.card2 {
  border: 2px solid #6b7d91;
  padding: 10px;
  margin: 10px;
}



@media (min-width: 992px) {
  .img-desktop {
    max-width: 35%;
  }
}


@media (max-width: 991px) {
  .img-mobile {
    max-width: 75%;


  }

}


.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #77b7d7;

  color: #fff;

  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}


.scroll-to-top-button:hover {
  background-color: #87d4fa;


}


.subtlepersonalized {
  background-color: #a8deff;
}

.btn-primary {
  background-color: #113250;
  margin-top: 2;
}

#fondo {
  background-color: #113250;
}

p {
  color: aliceblue;
}

.btn-fixed-size {
  min-width: 100px;

}
