@media (min-width: 992px) {
  .img-desktop {
    max-width: 80%;
  }
}

@media (max-width: 480) {
  .img-mobile {
   max-width: 70%;
   margin-left: 20px;
   margin-top: 2px;
  }
}

@media (max-width: 1368px) {
  .btnObj {
    width: 22rem
  }
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #77b7d7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-top-button:hover {
  background-color: #87d4fa;

}

#fondo {
  background-color: #113250;
}

p {
  color: aliceblue;
}

::-webkit-scrollbar {
  display: none;
}


#metas{
  max-width: 360px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 }

 #container-pie-obj{
  max-width: 1000px;
  min-width: 768px;
  margin: 0 auto;
  height: 600px;
}

#container-pie-meta{
  max-width: 1000px;
  min-width: 768px;
  margin: 0 auto;
  height: 600px;
}
