@media (min-width: 166px) {
  .img-desktop {
    max-width: 80%;
  }
}

@media (max-width: 480) {
  .img-mobile {
   max-width: 70%;
   margin-left: 20px;
   margin-top: 2px;
  }
}

#btnObj {
  border-radius: 10px; 
  color: white;
  width: 22.5rem; 
  font-weight: 500;
}
@media (max-width: 1366px) and (min-width: 1024px) {
  #btnObj {
    width: 18.5rem
  }
}

#odscontainermeta{
  overflow-y: overlay; 
  height:760px; 
  width:760px; 
  background-color: #184670;
}
@media (max-width: 1366px) and (min-width: 1024px) {
  #odscontainermeta {
    height:760px; 
    width:700px; 
  }
}

.scroll-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #77b7d7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-to-top-button:hover {
  background-color: #87d4fa;

}

#fondo {
  background-color: #113250;
}

p {
  color: aliceblue;
}

#metas{
  max-width: 360px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 }
 @media (max-width: 500px) {
  #metas{
    margin-top: 10px;
    white-space: nowrap;
    align-items: left;
  } 
}

 #container-pie-obj{
  max-width: 1000px;
  min-width: 768px;
  margin: 0 auto;
  height: 600px;
}
@media (max-width: 500px) {
  #container-pie-obj{
    position: relative;
    max-width: 10%; 
    height: auto; 
    margin: 0 auto; 
    left: 50%; 
    transform: translateX(-50%); 
  }
}

#container-pie-meta{
  max-width: 1000px;
  min-width: 768px;
  margin: 0 auto;
  height: 600px;
}
@media (max-width: 500px) {
  #container-pie-meta{
    position: relative;
    max-width: 10%; 
    height: auto; 
    margin: 0; 
    left: 50%; 
    transform: translateX(-50%); 
  }
}

#container-combined-pie{
  max-width: 1000px;
  min-width: 768px;
  margin: 0 auto;
  height: 600px;
}