


.nav-link:hover {
  text-decoration: underline; /* Agrega subrayado u otros estilos de texto según tus preferencias */
}

:host ::ng-deep .custom-tooltip .tooltip-inner {
  max-width: 400px;
  /* Ajusta el ancho según tus necesidades */
  background-color: #000000e5;
  /* Opcional: Color de fondo personalizado */
  color: #ffffff;
  /* Opcional: Color del texto personalizado */
  border: 1px solid #ccc;
  /* Color del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
  padding: 10px;
  /* Relleno */
  margin: 5px;
  /* Margen */

}
/* Asegúrate de que esta clase tenga la suficiente especificidad para aplicar el estilo */
.active-link {
  text-decoration: underline;
  color: #113250;
  /* Cambia el color si es necesario */
}





/* Estilo para pantallas con ancho de 1920px (sin importar la altura) */
@media (min-width: 1500px) and (max-width: 2000px) {
  .responsive-image {
    width: 140px !important;
    height: auto;
  }

 .palabras {
   font-size: 15px;
   /* Tamaño del texto más pequeño */
   padding: 5px 10px;
   /* Reducir el relleno (padding) dentro del enlace */
   margin: 5px;
   /* Margen alrededor del enlace */
 }
 .portal{
  font-size: 20px;
  text-decoration: none;
 }
}

/* Estilo para 1366x768 */
@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
  .responsive-image {
    width: 120px !important;
    /* Ajusta el tamaño de la imagen para esta resolución */
    height: auto;
  }

  .palabras {
    font-size: 15px;
    /* Tamaño del texto más pequeño */
    padding: 5px 10px;
    /* Reducir el relleno (padding) dentro del enlace */
    margin: 5px;
    /* Margen alrededor del enlace */
  }

  .portal {
    font-size: 18px;
    text-decoration: none;
  }

}

/* Estilo para 1024x768 */
@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 768px) {
  .responsive-image {
    width: 100px !important;
    /* Ajusta el tamaño de la imagen para esta resolución */
    height: auto;
  }

  .palabras {
    font-size: 12px;
    /* Tamaño del texto más pequeño */
    padding: 5px 10px;
    /* Reducir el relleno (padding) dentro del enlace */
    margin: 5px;
    /* Margen alrededor del enlace */
  }

  .portal {
    font-size: 15px;
    text-decoration: none;
  }
}


/* Estilo para la resolución 428x926 */
@media (min-width: 390px) and (max-width: 430px) and (min-height: 600px) and (max-height: 930px) {
  .responsive-image {
      width: 120px !important;
      height: auto;
    }
  .portal{
  font-size: 18px;
  padding: 5px 10px;
  text-decoration: none;
 }


}
