<nav class="navbar navbar-expand-lg bg-body-tertiary">

  <div class="container-fluid" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <img src="./assets/INEGI_g.png" alt="Logo" [class]="getLogoClass()" style="padding-right: 10px;"/>



    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" >
          <a class="nav-link selected " style="padding-left: 20px" aria-current="page" href="#" [routerLink]="['/dg/dg']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle selected" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Direcciones Generales
          </a>
          <ul class="dropdown-menu" routerLinkActive="active">
            <li><a class="dropdown-item" href="#" [routerLink]="['/dg/content/1']" routerLinkActive="active">Geografía y Medio Ambiente</a></li>
            <li><a class="dropdown-item" href="#" [routerLink]="['/dg/content/2']" routerLinkActive="active">Estadísticas Sociodemográficas</a></li>
            <li><a class="dropdown-item" href="#" [routerLink]="['/dg/content/3']" routerLinkActive="active">Estadísticas Económicas</a></li>
            <li><a class="dropdown-item" href="#" [routerLink]="['/dg/content/4']" routerLinkActive="active">Estadísticas de Gobierno, Seguridad Pública y Justicia</a></li>
            <li><a class="dropdown-item" href="#" [routerLink]="['/dg/content/5']" routerLinkActive="active">Estadísticas Integración, Análisis e Investigación</a></li>
          </ul>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link selected" aria-current="page" href="#" [routerLink]="['/dg/mdea']" routerLinkActive="active">MDEA</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link selected" aria-current="page" href="#" [routerLink]="['/dg/ods']" routerLinkActive="active">ODS</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link selected" aria-current="page" href="#" [routerLink]="['/dg/indicadores']" routerLinkActive="active">Indicadores</a>
        </li>
      </ul>
    </div>
    <h5 style="color: #113250;">Eje Temático del Agua</h5>
  </div>
</nav>
<router-outlet></router-outlet>

