<div class="container-fluid" style="background-color: #113250;">
  <div class="row ">

    <!--* FILTROS -->
    <div [hidden]="flagHidden" class="col-3" style="background-color: #f8f9fa; border-top: solid 1px; border-color: #113250;">
      <div class="row" style="margin-bottom: 60vh;">

        <div class="d-flex justify-content-between mt-2">
          <div><i class="bi bi-funnel-fill"></i> <strong><span>Filtros</span></strong></div>
          <div class="d-flex">
            <button (click)="deleteFilter()"  class="btn btn-outline-secondary" style=" --bs-btn-padding-y: .20rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; margin-right: 0.5rem;">Quitar filtros</button>
            <button type="button" class="btn-close" aria-label="Close" (click)="hiddenFilters()"></button>
          </div>
        </div>


        <div class="col-12 mt-2">
          <hr>
          <form class="d-flex" role="search" (ngSubmit)="funcionParaBuscarByQuery()">
            <input class="form-control me-2" type="search" placeholder="Buscar..." [(ngModel)]="terminoBusqueda" name="query">
            <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
          </form>

        </div>

        <div class="col-12">
          <hr class="mt-2">
          <h6 style="color: #113250;">Productos por dirección general:</h6>

          <!--! FILTRO DE GMA  -->
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="direGeogrAmbiente"
              [checked]="checkboxesState['direGeogrAmbiente']" (change)="handleCheckboxChange($event)">
            <label class="form-check-label" for="direGeogrAmbiente">Geografía y Medio Ambiente</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="direEstaSocio"
              [checked]="checkboxesState['direEstaSocio']" (change)="handleCheckboxChange($event)">
            <label class="form-check-label" for="direEstaSocio">Estadísticas Sociodemográficas</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="direEstaEconomicas"
              [checked]="checkboxesState['direEstaEconomicas']" (change)="handleCheckboxChange($event)">
            <label class="form-check-label" for="direEstaEconomicas">Estadísticas Económicas</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="direEstaGobSegPubJus"
              [checked]="checkboxesState['direEstaGobSegPubJus']" (change)="handleCheckboxChange($event)">
            <label class="form-check-label" for="direEstaGobSegPubJus">Estadísticas de Gobierno, Seguridad Pública y Justicia</label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="direInteAnaInv"
              [checked]="checkboxesState['direInteAnaInv']" (change)="handleCheckboxChange($event)">
            <label class="form-check-label" for="direInteAnaInv">Integración, Análisis e Investigación</label>
          </div>

          <hr>


        </div>

        <div class="col-12">
          <h6 style="color: #113250;">Productos de tipo:</h6>
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="proGeografico" value="option1"
                  (change)="handleRadioChange($event)" [checked]="selectedRadioValue === 'option1'">
                <label class="form-check-label" for="proGeografico">Geográfico</label>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="proEstadistico" value="option2"
                  (change)="handleRadioChange($event)" [checked]="selectedRadioValue === 'option2'">
                <label class="form-check-label" for="proEstadistico">Estadístico</label>
              </div>
            </div>
            <div class="col-md-4 col-sm-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="proGeografico&proEstadistico"
                  value="option3" (change)="handleRadioChange($event)" [checked]="selectedRadioValue === 'option3'">
                <label class="form-check-label" for="proGeografico&proEstadistico">Geográfico y Estadístico</label>
              </div>
            </div>
          </div>
          <hr>
        </div>

        <div class="col-12">
          <h6 style=" color: #113250;">Por cobertura:</h6>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <div class="form-check form-check-inline" style="margin-right: 2rem;">
                <input class="form-check-input " type="checkbox" value="" id="cobeNacional" [checked]="checkboxesCobe['cobeNacional']"
                  (change)="handleCheckboxCobe($event)">
                <label class="form-check-label" for="cobeNacional">Nacional</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="cobeEstatal" [checked]="checkboxesCobe['cobeEstatal']"
                  (change)="handleCheckboxCobe($event)">
                <label class="form-check-label" for="cobeEstatal">Estatal</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="form-check form-check-inline" style="margin-right: 1.5rem;">
                <input class="form-check-input" type="checkbox" value="" id="cobeMunicipal"
                  [checked]="checkboxesCobe['cobeMunicipal']" (change)="handleCheckboxCobe($event)">
                <label class="form-check-label" for="cobeMunicipal">Municipal</label>
              </div>
            </div>
            <div class="col-md-3 col-sm-12">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="cobRegional" [checked]="checkboxesCobe['cobRegional']"
                  (change)="handleCheckboxCobe($event)">
                <label class="form-check-label" for="cobRegional">Regional</label>
              </div>
            </div>
          </div>

          <hr>


        </div>

        <div class="col-12">
          <h6 style="margin-top: 1rem; color: #113250;">Tipos de soporte:</h6>

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="typeDatoGeo" [checked]="checkboxesType['typeDatoGeo']"
                  (change)="handleCheckboxType($event)">
                <label class="form-check-label" for="typeDatoGeo">Datos Geográficos</label>
              </div>


              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="typeTabulado" [checked]="checkboxesType['typeTabulado']"
                  (change)="handleCheckboxType($event)">
                <label class="form-check-label" for="typeTabulado">Tabulado</label>
              </div>


              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="typePublicacion"
                  [checked]="checkboxesType['typePublicacion']" (change)="handleCheckboxType($event)">
                <label class="form-check-label" for="typePublicacion">Publicaciones</label>
              </div>


          <hr>
        </div>

        <div class="col-12">
          <h6 style=" color: #113250;">Consultar por años de Publicación:</h6>
          <div class="row mt-1">

            <div class="col-md-6 mt-2 mt-md-0">
              <div class="row g-2 align-items-center">

                <div class="col-12">
                  <label for="inputPassword6" class="col-form-label ms-1">Desde:</label>
                </div>

                <div class="col-12">
                  <select class="form-select form-select-sm" id="desdePubli" (change)="onChangeDesdePubli($event)">
                    <option selected>Selecciona Fecha</option>
                    <option *ngFor="let item of pU_uniqueYears" [value]="item">{{item}}</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="col-md-6 mt-2 mt-md-0">
              <div class="row g-2 align-items-center">
                <div class="col-12">
                  <label for="inputPassword6" class="col-form-label ms-1">Hasta:</label>
                </div>
                <div class="col-12">
                  <select class="form-select form-select-sm" id="hastaPubli" (change)="onChangeHastaPubli($event)">
                    <option selected>Selecciona Fecha</option>
                    <option *ngFor="let item of pU_uniqueYearsHasta" [value]="item">{{item}}</option>
                  </select>
                </div>
              </div>
            </div>


          </div>
          <hr>
        </div>

        <div class="col-12">
          <h6 style=" color: #113250;">Consultar por años de Referencia:</h6>
          <div class="row mt-1">
            <div class="col-md-6 mt-2 mt-md-0">
              <div class="row g-2 align-items-center">
                <div class="col-12 ">
                  <label for="inputPassword6" class="col-form-label ms-1">Desde:</label>
                </div>
                <div class="col-12 ">
                  <select class="form-select form-select-sm" id="desdeRefe" (change)="onChangeDesdeRefe($event)">
                    <option selected>Selecciona Fecha</option>
                    <option *ngFor="let item of uniqueYears" [value]="item">{{item}}</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="col-md-6 mt-2 mt-md-0">
              <div class="row g-2 align-items-center">
                <div class="col-12 ">
                  <label for="inputPassword6" class="col-form-label ms-1">Hasta:</label>
                </div>
                <div class="col-12">
                  <select class="form-select form-select-sm" id="hastaRefe" (change)="onChangeHastaRefe($event)">
                    <option selected>Selecciona Fecha</option>
                    <option *ngFor="let item of uniqueYearsHasta" [value]="item">{{item}}</option>
                  </select>
                </div>

              </div>
            </div>

          </div>
          <hr>
        </div>



      </div>
    </div>

    <!--* PRODUCTOS -->
    <div *ngIf="flagOther" class="col-2"></div>
    <div [ngClass]="{'col-8': flagOther, 'col-9': flagFilter}">
      <div class="row align-items-center">
        <div class="col d-flex ms-3">
          <button type="button" class="btn btn-outline-light btn-sm" (click)="changeFlagFilter()"style="margin-bottom: 0px; margin-top: 0.5rem;"><span>Filtrar</span></button>
          <p *ngIf="!showFilteredProducts" style="color: #ffffff; margin-bottom: 0px; margin-top: 0.7rem; margin-left: 10px;">{{displayedProductCountAll}} Recursos encontrados</p>
          <p *ngIf="showFilteredProducts" style="color: #ffffff; margin-bottom: 0px; margin-top: 0.7rem; margin-left: 10px;">{{displayedProductCount}}
            Recursos encontrados</p>
        </div>
      </div>

      <div *ngIf="showFilteredProducts">
        <div *ngFor="let item of filteredProducts">
          <div class="card shadow-on-hover" style="margin: 1rem;">
            <div class="row card-body">
              <div class="col-10 d-flex align-items-center">
                <div *ngIf="item.dg_prod == 1">
                  <i class="bi bi-globe me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 2">
                  <i class="bi bi-bar-chart me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 3">
                  <i class="bi bi-cash-stack me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 4">
                  <i class="bi bi-file-earmark-text me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 5">
                  <i class="bi bi-bank me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>

                <div>
                  <strong class="card-title" style="color: #113250;  ">{{item.nom_producto | uppercase}}</strong>
                </div>

              </div>
              <div class="col-2 text-end d-flex align-items-center">
                <div class="ms-auto">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="openModal(item)"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: #113250; color: #ffffff;">Mas
                    Información</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!showFilteredProducts && products.length > 1">
        <div *ngFor="let item of products">
          <div class="card shadow-on-hover" style="margin: 1rem;">
            <div class="row card-body">
              <div class="col-10 d-flex align-items-center">
                <div *ngIf="item.dg_prod == 1">
                  <i class="bi bi-globe me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 2">
                  <i class="bi bi-bar-chart me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 3">
                  <i class="bi bi-cash-stack me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 4">
                  <i class="bi bi-file-earmark-text me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>
                <div *ngIf="item.dg_prod == 5">
                  <i class="bi bi-bank me-2" style="color: #113250; font-size: 1.5rem;"></i>
                </div>

                <div>
                  <strong class="card-title" style="color: #113250;  ">{{item.nom_producto | uppercase}}</strong>
                </div>

              </div>
              <div class="col-2 text-end d-flex align-items-center">
                <div class="ms-auto">
                  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="openModal(item)"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; background-color: #113250; color: #ffffff;">Mas
                    Información</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!showFilteredProducts && products.length == 0" style="margin-bottom: 100vh;">
        <div class="row mt-2 mt-2"  *ngFor="let card of cardsData">
          <div class="col">
            <div class="card shadow-on-hover" aria-hidden="true">
              <div class="row card-body">
                <div class="col-2">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                </div>
                <div class="col">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder" style="width: 100%;"></span>
                  </h5>

                </div>
                <div class="col-2  text-end d-flex align-items-center">
                  <div class="ms-auto">
                    <button type="button btn-moreInfo" class="btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem;
                          --bs-btn-font-size: .75rem; background-color: #113250; color: #113250;">
                      Mas Información
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>










<!--* MODAL -->

<div class="modal fade " id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true" >
  <div class="custom-scroll">
    <div class="modal-dialog modal-xl " >
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-10 d-flex align-items-center">
          <div *ngIf="elementoSeleccionado?.dg_prod == 1">
            <i class="bi bi-globe me-2" style="color: #113250; font-size: 1.5rem;"></i>
          </div>
          <div *ngIf="elementoSeleccionado?.dg_prod == 2">
            <i class="bi bi-bar-chart me-2" style="color: #113250; font-size: 1.5rem;"></i>
          </div>
          <div *ngIf="elementoSeleccionado?.dg_prod == 3">
            <i class="bi bi-cash-stack me-2" style="color: #113250; font-size: 1.5rem;"></i>
          </div>
          <div *ngIf="elementoSeleccionado?.dg_prod == 4">
            <i class="bi bi-file-earmark-text me-2" style="color: #113250; font-size: 1.5rem;"></i>
          </div>
          <div *ngIf="elementoSeleccionado?.dg_prod == 5">
            <i class="bi bi-bank me-2" style="color: #113250; font-size: 1.5rem;"></i>
          </div>

          <div>
            <h2 class="modal-title fs-6" id="staticBackdropLabel" style="color: #113250;">{{elementoSeleccionado?.nom_producto | uppercase}}</h2>
          </div>

        </div>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!--! BODY MODAL -->
      <div class="modal-body custom-modal-body">
        <div class="row mb-2">

          <div class="col-md-4 col-12">
            <span>Producto de tipo: </span>
            <br>
            <span class="badge">
              {{ elementoSeleccionado?.tipo_prod__1 == 0 ? '' : (
              elementoSeleccionado?.tipo_prod__1 == 1 && elementoSeleccionado?.tipo_prod__2 == 0 ? 'Geográfico' :
              '') }}
              {{ elementoSeleccionado?.tipo_prod__2 == 0 ? '' : ( elementoSeleccionado?.tipo_prod__1 == 0 && elementoSeleccionado?.tipo_prod__2 == 1 ? 'Estadístico' :
              '') }}
              {{ elementoSeleccionado?.tipo_prod__2 == 0 ? '' : ( elementoSeleccionado?.tipo_prod__1 == 1 && elementoSeleccionado?.tipo_prod__2 == 1 ? 'Geográfico y Estadístico' : '')
              }}
            </span>
          </div>

          <div class="col-md-4 col-12">
            <span>Cobertura del producto: </span>
            <br>
            <span class="badge me-1" *ngIf="elementoSeleccionado?.cobertura_geo__1 == 1">
              {{ elementoSeleccionado?.cobertura_geo__1 == 1 ? 'Nacional' : '' }}

            </span>
            <span class="badge me-1" *ngIf="elementoSeleccionado?.cobertura_geo__2 == 1">

              {{ elementoSeleccionado?.cobertura_geo__2 == 1 ? 'Estatal' : '' }}
            </span>
            <span class="badge me-1" *ngIf="elementoSeleccionado?.cobertura_geo__3 == 1">

              {{ elementoSeleccionado?.cobertura_geo__3 == 1 ? 'Municipal' : '' }}
            </span>
            <span class="badge me-1" *ngIf="elementoSeleccionado?.cobertura_geo__4 == 1">

              {{ elementoSeleccionado?.cobertura_geo__4 == 1 ? 'Regional' : '' }}
            </span>
            <span class="badge" *ngIf="elementoSeleccionado?.cobertura_geo__5 == 1">

              {{ elementoSeleccionado?.cobertura_geo__5 == 1 ? 'Otra: '+elementoSeleccionado?.o_cobertura : '' }}
            </span>
          </div>

          <div class="col-md-4 col-12">
            <span>El producto se fragmenta:</span>
            <br>
            <span class="badge m-1">{{
              elementoSeleccionado?.fragmenta == 1 ? 'Sí' : (
              elementoSeleccionado?.fragmenta == 2 ? 'No' : '')
              }}
            </span>
            <div *ngIf="elementoSeleccionado?.fragmenta == 1">


              <div class="col-12">
                <span>
                  Número de fragmentos:
                </span>
                <span class="badge m-1">
                  {{ elementoSeleccionado?.n_fragmenta }}
                </span>
              </div>

            </div>

          </div>





          <div class="container">
            <hr>
          </div>



        </div>

        <div class="row mb-2">

          <div class="col-md-4 col-12">
            <span>Año de publicación: </span>
            <br>
            <span class="badge">{{ elementoSeleccionado?.a_publicacion}}
              {{elementoSeleccionado?.a_publicacion2 ? (
              ' - ' + elementoSeleccionado?.a_publicacion2): ''}}
            </span>

          </div>

          <div class="col-md-4 col-12">
            <span>Año de referencia: </span>
            <br>
            <span class="badge">{{
              elementoSeleccionado?.a_referencia }}{{
              elementoSeleccionado?.a_referencia2 ? (
              ' - ' + elementoSeleccionado?.a_referencia2) : ''}}
            </span>

          </div>

          <div class="col-md-4 col-12">
            <span *ngIf="elementoSeleccionado?.actualizacion == 1">
              <span>Se actualiza: </span>
              <br>
              <span class="badge badgewrap" [title]="elementoSeleccionado?.p_actualizacion == 7 ? ''+ elementoSeleccionado?.o_periodo : ''">
                {{
                elementoSeleccionado?.p_actualizacion == 1 ? 'Mensual' : (
                elementoSeleccionado?.p_actualizacion == 2 ? 'Anual' : '') }}
                {{
                elementoSeleccionado?.p_actualizacion == 3 ? 'Bienal' : (
                elementoSeleccionado?.p_actualizacion == 4 ? 'Cuatrienal' : '') }}
                {{
                elementoSeleccionado?.p_actualizacion == 5 ? 'Quinquenal' : (
                elementoSeleccionado?.p_actualizacion == 6 ? 'Irregular' : '') }}
                {{
                elementoSeleccionado?.p_actualizacion == 7 ? ''+ elementoSeleccionado?.o_periodo : ''}}
              </span>
            </span>
            <span *ngIf="elementoSeleccionado?.actualizacion == 2">
              <span>Se actualiza: </span>
              <br>
              <span class="badge">No</span>
            </span>
          </div>

          <div class="container">
            <hr>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-12">
            <span *ngIf="elementoSeleccionado?.escala">Escala geográfica: </span>

            <span *ngIf="elementoSeleccionado?.escala">
              <span class="badge">
                {{ elementoSeleccionado?.escala != 14 ? getEscalasText(elementoSeleccionado?.escala) : 'Otra: '+elementoSeleccionado?.o_escala }}
              </span>
            </span>


            <span *ngIf="!elementoSeleccionado?.escala">

              <span> Ninguna escala geográfica. </span>
            </span>
          </div>
          <div class="col-md-4 col-12">
            <span *ngIf="elementoSeleccionado?.liga">
              <span>Ligas de acceso: </span>
              <a (click)="$event.stopPropagation()" target="_blank" [href]="elementoSeleccionado?.liga">
                enlace.
              </a>
            </span>
          </div>
          <div class="col-md-4 col-12">
            <span *ngIf="elementoSeleccionado?.metodologia == 1">
              <span *ngIf="elementoSeleccionado?.metodologia == 1">
                Cuenta con metodología:
              </span>
              <a (click)="$event.stopPropagation()" [href]="elementoSeleccionado?.liga_metodologia" target="_blank">
                enlace.
              </a>
            </span>
            <span *ngIf="elementoSeleccionado?.metodologia == 2">
              <span>No cuenta con metodología</span>
            </span>
          </div>
          <div class="container">
            <hr>
          </div>
        </div>


        <div class="row">
          <div class="col-12">
            <span>Tipo(s) de soporte del producto:</span>
            <div class="row mt-2">
              <div class="col" *ngIf="elementoSeleccionado?.tipo_soporte__1 == 1">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" [style.background-color]="'#113250'" [style.color]="'#ffffff'">
                    {{ elementoSeleccionado?.tipo_soporte__1 == 1
                    ? 'Datos Geográficos' : ''}}
                  </li>
                  <li *ngIf="elementoSeleccionado?.tipo_soporte__1 == 1" class="list-group-item">
                    <span> En formato: </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_geo__1 == 1">
                      {{
                      elementoSeleccionado?.formato_geo__1 == 1 ? 'Conjunto de datos vectoriales (SHP)' : ''
                      }}
                    </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_geo__2 == 1">
                      {{
                      elementoSeleccionado?.formato_geo__2 == 1 ? 'Raster (TIIF, GIF, BIL, etc.)' : ''
                      }}
                    </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_geo__3 == 1">
                      {{
                      elementoSeleccionado?.formato_geo__3 == 1 ? 'GeoPDF' : ''
                      }}
                    </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_geo__4 == 1">
                      {{
                      elementoSeleccionado?.formato_geo__4 == 1 ? 'PDF' : ''
                      }}
                    </span>
                    <span class="badge" *ngIf="elementoSeleccionado?.formato_geo__5 == 1">
                      {{
                      elementoSeleccionado?.formato_geo__5 == 1 ? 'Otro: ' + elementoSeleccionado?.o_formato_geo : ''
                      }}
                    </span>
                  </li>
                </ul>
              </div>
              <div class="col"
                *ngIf="(elementoSeleccionado?.tipo_soporte__1 == 1 || elementoSeleccionado?.tipo_soporte__1 == 0) && elementoSeleccionado?.tipo_soporte__2 == 1 ">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" [style.background-color]="'#113250'" [style.color]="'#ffffff'">
                    {{
                    elementoSeleccionado?.tipo_soporte__2 == 1 ? 'Tabulado' : ''
                    }}
                  </li>
                  <li class="list-group-item">
                    <strong> En formato: </strong>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_tab__1 == 1">
                      {{
                      elementoSeleccionado?.formato_tab__1 == 1 ? '.dbf' : ''
                      }}

                    </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_tab__2 == 1">
                      {{
                      elementoSeleccionado?.formato_tab__2 == 1 ? '.csv' : ''
                      }}
                    </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_tab__3 == 1">
                      {{
                      elementoSeleccionado?.formato_tab__3 == 1 ? '.txt' : ''
                      }}
                    </span>
                    <span class="badge me-1" *ngIf="elementoSeleccionado?.formato_tab__4 == 1">
                      {{
                      elementoSeleccionado?.formato_tab__4 == 1 ? '.xlsx' : ''
                      }}
                    </span>
                    <span class="badge" *ngIf="elementoSeleccionado?.formato_tab__5 == 1">
                      {{
                      elementoSeleccionado?.formato_tab__5 == 1 ? 'Otro: ' + elementoSeleccionado?.o_formato_tab : ''
                      }}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col" *ngIf="elementoSeleccionado?.tipo_soporte__3">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item " [style.background-color]="'#113250'" [style.color]="'#ffffff'">
                    {{
                    elementoSeleccionado?.tipo_soporte__3 == 1 ? 'Publicaciones' : ''
                    }}
                  </li>
                </ul>
              </div>
              <div class="col" *ngIf="elementoSeleccionado?.tipo_soporte__4">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item " [style.background-color]="'#113250'" [style.color]="'#ffffff'">
                    {{
                    elementoSeleccionado?.tipo_soporte__4 == 1 ? 'Otro: ' + elementoSeleccionado?.o_soporte : ''
                    }}
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="container">
            <hr>
          </div>

        </div>

        <div class="row">
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-variable-tab" data-bs-toggle="tab" data-bs-target="#nav-variable"
                  type="button" role="tab" aria-controls="nav-variable" aria-selected="true"
                  style="color: #113250;">Variables</button>

                <button class="nav-link" id="nav-pi-tab" data-bs-toggle="tab" data-bs-target="#nav-pi" type="button" role="tab"
                  aria-controls="nav-pi" aria-selected="false" style="color: #113250;">Programas de Información</button>

                <button class="nav-link" id="nav-aeg-tab" data-bs-toggle="tab" data-bs-target="#nav-aeg" type="button" role="tab"
                  aria-controls="nav-aeg" aria-selected="false" style="color: #113250;">Actividades Estadísticas o
                  Geográficas</button>

                <button class="nav-link" id="nav-mdea-tab" data-bs-toggle="tab" data-bs-target="#nav-mdea" type="button"
                  role="tab" aria-controls="nav-mdea" aria-selected="false" style="color: #113250;">MDEA</button>

                <button class="nav-link" id="nav-ods-tab" data-bs-toggle="tab" data-bs-target="#nav-ods" type="button" role="tab"
                  aria-controls="nav-ods" aria-selected="false" style="color: #113250;">ODS</button>

                <button class="nav-link" id="nav-ps-tab" data-bs-toggle="tab" data-bs-target="#nav-ps" type="button" role="tab"
                  aria-controls="nav-ps" aria-selected="false" style="color: #113250;">Programas Sectoriales</button>
              </div>
            </nav>

            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-variable" role="tabpanel" aria-labelledby="nav-variable-tab" tabindex="0">
                <!--! variables -->
                <div class="row">
                  <div class="col">
                    <ng-container *ngIf="secuenciaVAR && secuenciaVAR.length > 0; else nosecuenciaVAR">
                      <div class="pt-2 m-2">
                                  <div class=" card-body" (click)="$event.stopPropagation()">
                                    <div class="row">
                                      <div class="col-md-4 col-12" *ngFor="let item of secuenciaVAR">
                                        <div class="shadow-sm p-1 mt-2 mb-0 bg-body-tertiary rounded">
                                          <h6 style="color: #113250; text-align: center;">{{item.nom_var | uppercase}}</h6>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                      </div>
                    </ng-container>
                    <ng-template #nosecuenciaVAR>
                      <div class="text-center shadow-sm p-1 mt-2 mb-0 bg-body-tertiary rounded">
                        <h5 style="color: #113250;">Ninguna Variable Detectada.</h5>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>


              <div class="tab-pane fade" id="nav-pi" role="tabpanel" aria-labelledby="nav-pi-tab" tabindex="0">
                <!--! programas de información -->
                <div class="row">
                  <div class="col">
                    <ng-container *ngIf="pi && pi.length > 0; else noPi">
                      <div class="pt-2 m-2">
                              <div class="row" *ngFor="let item of pi">
                                <div class="col">
                                  <div class=" card-body">
                                    <div class="row">
                                      <div class="col-md-12 col-12">
                                        <strong style="color: #113250;">Unidad Administrativa Responsable:</strong>
                                        <span > {{getDireccionGeneralText(item.dg_pi)}}.</span>
                                      </div>
                                      <div class="col-md-12 col-12">
                                        <strong style="color: #113250;">Programa de Información:</strong>
                                        <span > {{getProgInfoText(item.nom_pi)}}.</span>
                                      </div>
                                      <div class="col-md-12 col-12">
                                        <strong style="color: #113250;">Proceso de Producción:</strong>
                                        <span > {{getDga_PprodText(item.pp_pi)}}.</span>
                                        <hr class="mt-2">
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                      </div>
                    </ng-container>
                    <ng-template #noPi>
                      <div class="text-center shadow-sm p-2 mt-2 m-1 mb-0 bg-body-tertiary rounded">
                        <h5 style="color: #113250;">Ningún Programa de Información Detectado.</h5>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-aeg" role="tabpanel" aria-labelledby="nav-aeg-tab" tabindex="0">
                <!--! Actividades Estadísticas o Geográficas -->

                <div class="row">
                  <div class="col">
                    <ng-container *ngIf="aegSecuencia && aegSecuencia.length > 0; else noaegSecuencia">
                      <div class="pt-2 m-2">
                        <div class="row" *ngFor="let item of aegSecuencia">
                          <div class="col">
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-12 col-12">
                                  <strong style="color: #113250;">Dirección General Responsable: </strong>
                                  <span> {{getDga_PprodText(item.dg_aeg)}}.</span>
                                </div>
                                <div class="col-md-12 col-12">
                                  <strong style="color: #113250;">Actividad Estadística o Geográfica: </strong>
                                  <span> {{getAEG_2Text(item.nom_aeg)}}.</span>
                                </div>
                                <div class="col-md-12 col-12">
                                  <strong style="color: #113250;">Dirección General Adjunta Responsable : </strong>
                                  <span> {{getAEG_ProdText(item.dga_aeg)}}.</span>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #noaegSecuencia>
                      <div class="text-center shadow-sm p-2 mt-3 m-1 mb-0 bg-body-tertiary rounded">
                        <h5 style="color: #113250;">Ninguna Actividad Estadística o Geográfica Detectada.</h5>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-mdea" role="tabpanel" aria-labelledby="nav-mdea-tab" tabindex="0">
                <!--! Marco para el Desarrollo de las Estadísticas Ambientales -->
                <div class="row">
                  <div class="col">
                    <ng-container *ngIf="mdeas && mdeas.length > 0; else nomdeas">
                      <div class="pt-2 m-2  bg-body-tertiary rounded">
                        <h4 style="color: #113250; padding-left: 0.5rem;">Relación con el Marco para el Desarrollo de las Estadísticas Ambientales:
                        </h4>
                        <div class="row" *ngFor="let item of mdeas">
                          <div class="col">
                            <div class="card card-body m-2 mb-2">
                              <div class="row">
                                <div class="col-md-4 col-12">
                                  <strong style="color: #113250;">Componente: </strong>
                                  <br>
                                  <span > {{getComponenteText(item.comp_mdea)}}.</span>
                                </div>
                                <div class="col-md-4 col-12">
                                  <strong style="color: #113250;">Subcomponente: </strong>
                                  <br>
                                  <span > {{getSubcomponenteText(item.subcomp_mdea)}}.</span>
                                </div>
                                <div class="col-md-4 col-12">
                                  <strong style="color: #113250;">Tópico: </strong>
                                  <br>
                                  <span > {{getTopicoText(item.topico_mdea)}}.</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #nomdeas>
                      <div class="text-center shadow-sm p-2 mt-3 m-1 mb-0 bg-body-tertiary rounded">
                        <h5 style="color: #113250;">Ninguna Relación con el Marco para el Desarrollo de las Estadísticas Ambientales.
                        </h5>
                      </div>
                    </ng-template>

                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-ods" role="tabpanel" aria-labelledby="nav-ods-tab" tabindex="0">
                <!--! Relación con los Objetivos del Desarrollo Sostenible -->
                <div class="row">
                  <div class="col">
                    <ng-container *ngIf="ODSes && ODSes.length > 0; else noODSes">
                      <div class="pt-2 m-2 bg-body-tertiary rounded">
                        <h4 style="color: #113250; padding-left: 0.5rem;">Relación con Objetivos del Desarrollo Sostenible:</h4>
                        <div class="row" *ngFor="let item of ODSes">
                          <div class="col">
                            <div class="card card-body m-2 mb-2">
                              <div class="row">
                                <div class="col-md-6 col-12">
                                  <strong style="color: #113250;">Objetivo: </strong>
                                  <br>
                                  <span class=""> {{getObjetivODSText(item.obj_ods)}}.</span>
                                </div>
                                <div class="col-md-6 col-12">
                                  <strong style="color: #113250;">Meta: </strong>
                                  <br>
                                  <span > {{getMetaODSText(item.meta_ods)}}.</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #noODSes>
                      <div class="text-center shadow-sm p-2 mt-3 m-1 mb-0 bg-body-tertiary rounded">
                        <h5 style="color: #113250;">Ninguna Relación con Objetivos del Desarrollo Sostenible.</h5>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-ps" role="tabpanel" aria-labelledby="nav-ps-tab" tabindex="0">
                <!--! Relación con algún Programa Sectorial (PS): -->
                <div class="row mb-2">
                  <div class="col">
                    <ng-container *ngIf="PSes && PSes.length > 0; else noPSes">
                      <div class="pt-2 m-2 bg-body-tertiary rounded">
                        <h4 style="color: #113250; padding-left: 0.5rem;">Relación con Programas Sectoriales:</h4>
                        <div class="row" *ngFor="let item of PSes">
                          <div class="col">
                            <div class="card card-body m-2 mb-2">
                              <div class="row">
                                <div class="col-md-6 col-12">
                                  <strong style="color: #113250;">Programa Sectorial: </strong>
                                  <br>
                                  <span>{{getps2023Text(item.prog_ps)}}.</span>


                                </div>
                                <div class="col-md-6 col-12">
                                  <div *ngIf="item.indicador_ps">
                                    <strong style="color: #113250;">Indicador que corresponde: </strong>
                                    <br>
                                    <span> {{getIndicadoresPS2023Text(item.indicador_ps)}}.</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-template #noPSes>
                      <div class="text-center shadow-sm p-2 mt-3 m-1 mb-0 bg-body-tertiary rounded">
                        <h4 style="color: #113250;">Ninguna relación con algún Programa Sectorial.</h4>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>
      <div class="modal-footer">
        <span style="color: #113250;">
          {{ elementoSeleccionado?.dg_prod == 1 ? 'Dirección General de Geografía y Medio Ambiente':(
          elementoSeleccionado?.dg_prod == 2 ? 'Dirección General de Estadísticas Sociodemográficas': (
          elementoSeleccionado?.dg_prod == 3 ? 'Dirección General de Estadísticas Económicas': (
          elementoSeleccionado?.dg_prod == 4 ? 'Dirección General de Estadísticas de Gobierno, Seguridad Pública y Justicia':(
          elementoSeleccionado?.dg_prod == 5 ? 'Dirección General de Integración, Análisis e Investigación':''
          )
          )
          )
          )
          }}.
        </span>
      </div>
    </div>
  </div>
  </div>

</div>





