.show {
  display: block !important;
  visibility: visible !important;
  height: auto !important;
}

.badge{
  background-color: #113250;
  color: white;
}

.form-check-input:checked {
  background-color: #113250;;
  border-color: #113250;
}


.custom-scroll{
  overflow-y: visible;
  max-height: 97vh;
}

.badgewrap{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* styles.css o cualquier otro archivo CSS principal */
.custom-padding ol,
.custom-padding ul {
  padding-left: 0;
}

.custom-padding .excluir-estilo ol,
.custom-padding .excluir-estilo ul {
  padding-left: 2rem;
  /* Estilo para las etiquetas excluidas */
}

.tooltip-element {
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el elemento */
}

@media (min-width: 1366px) {
  #ChecksCobertura {
    margin-right: 5px;
  }
 #cobeMunicipal {
    margin-right: 2px;
  }
}

@media (min-width: 1366px) {
  #ChecksSoporte  {
    margin-right: 3px;
  }
}

.custom-spinner {
  width: 1.3rem;
  height: 1.3rem;
  border-width: 0.25em;
  color: #1a538c;
}


@media (max-width: 1366px) and (max-height: 768px) {
    h5 {
       font-size: 15px;
    }
    }

@media (max-width: 1366px) and (max-height: 768px) {
      h3 {
         font-size: 22px;
    }
  }

  @media (max-width: 1366px) and (max-height: 768px) {
    #iconoDir{
        font-size: 4rem;
   }
 }

 @media (max-width: 1366px) and (max-height: 768px) {
  strong {
    font-size: 15px;
  }
}
.texto-direction{
  color: #113250;
  font-family: Helvetica, Sans-Serif;
  font-size: 1.05rem;
  height: 3rem;
}
.texto-totalP {
  color: #113250;
  font-family: Helvetica, Sans-Serif;
  font-size: 1.05rem;
}
.texto-numero{
  color: #1a538c;
  font-family: 'Monaco', monospace;
  font-weight: bold;
}

.vermasinformacion{
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
  background-color: #113250;
  color: #ffffff;
  font-family: Helvetica, Sans-Serif;
}
.vermasinformacionhidden {
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
  background-color: #113250;
  color: #113250;
  font-family: Helvetica, Sans-Serif;
}
.whit100 {

  width: 100%;

}
.whit20{
  margin-top: 1rem;
    width: 15%;
    height: 1em;
    /* Ajusta la altura según sea necesario */
    display: block;
}
.m1rem{
  margin: 1rem;
}

.colorfilter{
  background-color: #f8f9fa;
  border-top: solid 1px;
  border-color: #113250;
}
.botonfilter{
    --bs-btn-padding-y: .20rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    margin-right: 0.5rem;
}
.hiddenojito{
    --bs-btn-padding-y: .20rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    margin-right: 0.5rem;
    border-radius: 50%;

}
.color113250{
  color: #113250;
}
.titleproductos{
  margin: 2rem;
  text-align: center;
  color: #113250;
  font-family: Helvetica, Sans-Serif;
}
.boton_recursos_encontrados{
--bs-btn-padding-y: .20rem;
--bs-btn-padding-x: .5rem;
--bs-btn-font-size: .75rem;
margin-bottom: 0px;
margin-top: 1rem;
margin-left: 1rem;
}
.texto_RecursoEncontrado{
  color: #113250;
    margin-bottom: 0px;
    margin-top: 1rem;
    margin-left: 10px;
}
.openmodalBoton{
  --bs-btn-padding-y: .25rem;
    --bs-btn-padding-x: .5rem;
    --bs-btn-font-size: .75rem;
    background-color: #113250;
    color: #ffffff;
    font-family: Helvetica, Sans-Serif;
}
.stylebuton {
  width: max-content;
  --bs-btn-padding-y: .25rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
  background-color: #113250;
  color: #ffffff;
  font-family: Helvetica, Sans-Serif;
}
.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.25rem;
  /* Tamaño del texto */
}
.titulodetarjeta1 {
  color: white;
  font-size: 1.25rem;
}
.titulodetarjeta {
  color: #113250;
  font-size: 1.25rem;
}
.titulodeDirecciones {
  color: #113250;
  font-size: 1rem;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  /* Ocupa todo el ancho disponible */
  width: 100%;
  /* Ajusta al ancho del contenedor */
}
:host ::ng-deep .custom-tooltip .tooltip-inner {
  max-width: 800px;
  /* Ajusta el ancho según tus necesidades */
  background-color: #000000e5;
  /* Opcional: Color de fondo personalizado */
  color: #ffffff;
  /* Opcional: Color del texto personalizado */
  border: 1px solid #ccc;
  /* Color del borde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra */
  padding: 10px;
  /* Relleno */
  margin: 5px;
  /* Margen */

}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight,
::ng-deep .p-paginator .p-paginator-pages {
  background-color: #113250;
  /* Cambia esto por el color que prefieras */
  color: white;
  /* Cambia esto por el color del texto que prefieras */
  /* border-color: #113250; */
  /* Cambia esto por el color del borde que prefieras */
}

.custom-badge {
  background-color: #113250;
  /* Cambia a tu color deseado */
  color: #ffffff;
  /* Cambia el color del texto si es necesario */
  margin-right: 0.5rem;
  font-weight: normal;
}
.marlef {
  margin-left: 0.25rem;
}
.hover-animate {
  transition: transform 0.3s ease-in-out;
}

.hover-animate:hover {
  transform: scale(1.02) translateZ(-50px);
}

@media (min-width: 1500px) and (max-width: 5000px) {
  .colCustom {
      width: 20% !important;
  }
  .colCustom2 {
      width: 20% !important;
  }
  .texto-direction{
    height: 4rem !important;
  }
  .nameofDirection {
    font-size: 15px;
  }
  .textointroductivo {
    padding-bottom: 1rem;
  }
}

@media (min-width: 1366px) and (max-width: 1366px) and (min-height: 768px) and (max-height: 768px) {
.tituloPro {
    font-size: 25px;
    margin: 15px !important;
  }

  .textointroductivo {
    font-size: 13px;
  }

  .nameofDirection {
    font-size: 13px;
  }

  .iconcustom {
    font-size: 40px !important;
    /* Cambia este valor según el tamaño que desees */
  }

  .colCustom {
    width: 33.33% !important;
  }

  .colCustom2 {
    width: 50% !important;
  }
  .colcustomTipoProduc{
    width: 100% !important;
  }

  .colcustomTipoProduc2{
    width: 50% !important;
  }
  .col-2-custom {
      width: 8.33% !important;
  }
  .col-8-custom{
    width: 83.33% !important;
  }
}

@media (min-width: 1024px) and (max-width: 1024px) and (min-height: 768px) and (max-height: 768px) {
.tituloPro {
    font-size: 20px;
    margin: 15px !important;
  }
  .textointroductivo {
    font-size: 13px;
  }

  .nameofDirection {
    font-size: 13px;
  }
  .iconcustom {
    font-size: 30px !important;
    /* Cambia este valor según el tamaño que desees */
  }

  .colCustom {
    width: 33.33% !important;
  }
  .colCustom2 {
    width: 50% !important;

  }
    .colcustomTipoProduc{
    width: 100% !important;
  }

  .colcustomTipoProduc2{
    width: 50% !important;
  }
  .col-2-custom {
      width: 8.33% !important;
  }
  .col-8-custom{
    width: 83.33% !important;
  }

}

@media (min-width: 390px) and (max-width: 430px) and (min-height: 600px) and (max-height: 930px) {
  .tituloPro{
    font-size: 18px;
    margin: 10px !important;
  }
  .textointroductivo {
    font-size: 12px;
  }

  .nameofDirection {
      font-size: 12px;
  }

  .iconcustom {
     font-size: 35px !important;
      /* Cambia este valor según el tamaño que desees */
  }
  .colCustom{
    width: 100% !important;
  }
  .col-2-custom {
      width: 8.33% !important;
  }
  .col-8-custom {
    width: 83.33% !important;
  }

}

.col-2-custom{
  width: 16.66%;
}
.col-8-custom{
  width: 66.66%;
}
