.show {
  display: block !important;
  visibility: visible !important;
  height: auto !important;
}

.badge{
  background-color: #113250;
  color: white;
}

.form-check-input:checked {
  background-color: #113250;;
  border-color: #113250;
}

.shadow-on-hover:hover {
  box-shadow: 0 10px 5px -5px rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.1s ease;
}

.custom-scroll{
  overflow-y: visible;
  max-height: 97vh;
}

.badgewrap{
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 90%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* styles.css o cualquier otro archivo CSS principal */
.custom-padding ol,
.custom-padding ul {
  padding-left: 0;
}

.custom-padding .excluir-estilo ol,
.custom-padding .excluir-estilo ul {
  padding-left: 2rem;
  /* Estilo para las etiquetas excluidas */
}

.tooltip-element {
  cursor: pointer;
  /* Cambia el cursor al pasar sobre el elemento */
}

@media (min-width: 1366px) {
  #ChecksCobertura {
    margin-right: 5px;
  }
 #cobeMunicipal {
    margin-right: 2px;
  }
}

@media (min-width: 1366px) {
  #ChecksSoporte  {
    margin-right: 3px;
  }
}

.custom-spinner {
  width: 1.3rem;
  height: 1.3rem;
  border-width: 0.25em;
  color: #1a538c;
}


@media (max-width: 1366px) and (max-height: 768px) {
    h5 {
       font-size: 15px;
    }
    }

@media (max-width: 1366px) and (max-height: 768px) {
      h3 {
         font-size: 22px;
    }
  }

  @media (max-width: 1366px) and (max-height: 768px) {
    #iconoDir{
        font-size: 4rem;
   }
 }

 @media (max-width: 1366px) and (max-height: 768px) {
  strong {
    font-size: 15px;
  }
}
.texto-direction{
  color: #113250;
  font-family: Helvetica, Sans-Serif;
  font-size: 1.05rem;
  height: 5.5rem;
}
.texto-totalP {
  color: #113250;
  font-family: Helvetica, Sans-Serif;
  font-size: 1.05rem;
}
.texto-numero{
  color: #1a538c;
  font-family: 'Monaco', monospace;
  font-weight: bold;
}
