

.carousel-caption {
  bottom: 5rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;
}

@media only screen and (max-width: 1366px) {
  .carousel-item {
    height: 24rem;
  }
}

@media only screen and (max-width: 1024px) {
  .carousel-item {
    height: 24rem;
  }
}

@media only screen and (max-width: 480px) {
  .carousel-item {
    height: 22rem;
  }
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/*! botones modificados */
.custom-btn-colorWhite {
  background-color: #ffffffbb;
  color: #000;
}
.custom-btn-colorWhite:hover {
  background-color: #ffffff9c;
}
.custom-btn-colorGris {
  background-color: #949494d5;
  color: #fff;
}
.custom-btn-colorGris:hover {
  background-color: #949494a4;
}
.custom-btn-color {
  background-color: #007a98b2;
  color: #fff;
}
.custom-btn-color:hover {
  background-color: #0060758f;
}
.custom-btn-color2 {
  background-color: #009ddbb7;
  color: #fff;
}
.custom-btn-color2:hover {
  background-color: #007ab2a1;
}
.custom-btn-color3 {
  background-color: #5a6889;
  color: #fff;
}
.custom-btn-color3:hover {
  background-color: #4a5d8a;
}
p{
 font-family: Arial, Helvetica, sans-serif;
}
.selected {
  color: #ffffff;
  background-color: #00528a;
}
.customParrafo{
  font-size: medium;
  text-align: justify;
  font-family: Helvetica, Sans-Serif;
}
p {
  font-family: Helvetica, Sans-Serif;
}

/* APARTADO DE ESTILOS PARA DIFERENTES TIPOS DE RESOLUCIONES. */

/* Laptop y proyectores */

@media only screen and (max-width: 1366px) {
  .imagenCarouselINEGI{
    width: 35%;   
    height: 35px;
    padding-bottom: 15px;
  }
  }

@media only screen and (max-width: 1024px) {
  .imagenCarouselINEGI{
    width: 30%;   
    height: 30px;
    padding-bottom: 15px;
  }
  }

  /* Dispositivos moviles */
  @media only screen and (max-width: 480px) {
    .imagenCarouselINEGI{
      margin-right: auto;
      width: 12rem;  
      height: 50px; 
    }
  }

  @media only screen and (max-width: 1366px) {
    .imagenCarouselODS{
      padding-right: 180px;
      width: 90%;   
      height: 75px;
    }
    }
    

  /* Laptop y proyectores */
@media only screen and (max-width: 1024px) {
  .imagenCarouselODS{
    padding-right: 200px;
    width: 95%;   
    height: 80px;
    padding-bottom: 20px;
  }
  }
  
  /* Dispositivos moviles */
  @media only screen and (max-width: 480px) {
    .imagenCarouselODS{
      padding-right: 400px;
      padding-bottom: 35px;
        width: 40rem;   
        height: 65px; 
    }
  }

  /* Laptop y proyectores */
  @media only screen and (max-width: 1024px) {
      .imagenCarouselSNIEG{
      width: 70%;   
      height: 70px;
      padding-bottom: 15px;
    }
    }
  
    /* Dispositivos moviles */
    @media only screen and (max-width: 480px) {
        .imagenCarouselSNIEG{
        margin-right: auto;
        width: 18rem;   
        height: 60px; 
      }
    }
  
    @media only screen and (max-width: 1366px) {
      .imagenCarouselGeonode{
      margin-right: auto;
      width: 10rem;   
      height: 40px; 
    }
   }

    @media only screen and (max-width: 1024px) {
      .imagenCarouselGeonode{
      margin-right: auto;
      width: 8rem;   
      height: 40px; 
    }
   }

    @media only screen and (max-width: 480px) {
      .imagenCarouselGeonode{
      margin-right: auto;
      width: 6rem;   
      height: 30px; 
    }
   }


   /* Botones para resolución de laptop */
   @media only screen and (max-width: 1366px)  {
    .custom-btn-colorWhite {
      font-size: 1rem;     
      padding: 6px 12px;    
    }
  }

  @media only screen and (max-width: 1366px)  {
    .custom-btn-color {
      font-size: 1rem;    
      padding: 6px 12px;  
    }
  }

  @media only screen and (max-width: 1366px) {
    .custom-btn-color2 {
      font-size: 1rem;     
      padding: 6px 12px;   
    }
  }

  @media only screen and (max-width: 1366px) {
    .custom-btn-colorGris {
      font-size: 1rem;     
      padding: 6px 12px;   
    }
  }


    /* Botones para resolución de proyector */

    
    @media only screen and (max-width: 1024px)  {
      .custom-btn-colorWhite {
        font-size: 1rem;     
        padding: 6px 12px;    
      }
    }

    @media only screen and (max-width: 1024px)  {
      .custom-btn-color {
        font-size: 1rem;    
        padding: 6px 12px;  
      }
    }

    @media only screen and (max-width: 1024px) {
      .custom-btn-color2 {
        font-size: 1rem;     
        padding: 6px 12px;   
      }
    }

    @media only screen and (max-width: 1024px) {
      .custom-btn-colorGris {
        font-size: 1rem;     
        padding: 6px 12px;   
      }
    }

    /* Botones para dispositivos moviles.  */
    @media only screen and (max-width: 480px) {
      .custom-btn-colorWhite {
        font-size: 1rem;     
        padding: 6px 12px;   
      }
    }

    @media only screen and (max-width: 480px) {
      .custom-btn-color {
        font-size: 1rem;     
        padding: 6px 12px;   
      }
    }

    @media only screen and (max-width: 480px) {
      .custom-btn-color2 {
        font-size: 1rem;     
        padding: 6px 12px;   
      }
    }

    @media only screen and (max-width: 480px) {
      .custom-btn-colorGris {
        font-size: 1rem;    
        padding: 6px 12px;  
      }
    }


/* Resolución para componente Temas de actualidad */
   
.imgInegi{
      max-height: 500px; 
      max-width: 500px; 
      display: block; 
      margin: 0 auto; 
      margin-top: 5rem; 
      margin-bottom: 5rem; 
      background-color: #113250;
    }
   
    @media only screen and (max-width: 1366px) {
      .imgInegi{
        max-height: 350px; 
        max-width: 350px;
      }
    }

    @media only screen and (max-width: 1024px) {
      .imgInegi{
        max-height: 300px; 
        max-width: 300px;
      }
    }

    @media only screen and (max-width: 480px){
      .imgInegi{
        max-height: 200px; 
        max-width: 200px;
      }
    }
    

    
    .imgMdea{
      max-height: 25rem; 
      max-width: 500px; 
      height: auto; 
      display: block; 
      margin: 0 auto; 
    }


    @media only screen and (max-width: 1366px) {
      .imgMdea{
        max-height: 22.5rem; 
        max-width: 350px;
      }
    }

    @media only screen and (max-width: 1024px) {
      .imgMdea{
        max-height: 20rem; 
        max-width: 300px;
      }
    }

    @media only screen and (max-width: 480px) {
    .imgMdea{
     max-height: 200px; 
     max-width: 200px;
      }
    }

    .imgOds {
      max-height: 500px; 
      max-width: 500px; 
      height: auto; 
      display: block; 
      margin: 0 auto; 
      margin-top: 5rem; 
      margin-bottom: 5rem; 
      background-color: #113250;
    }

    @media only screen and (max-width: 1366px) {
      .imgOds{
        max-height: 15rem; 
        max-width: 200px;
      }
    }

    @media only screen and (max-width: 1024px) {
      .imgOds{
        max-height: 15rem; 
        max-width: 200px;
      }
    }

    @media only screen and (max-width: 480px) {
    .imgOds{
     max-height: 150px; 
     max-width: 150px;
      }
    }

    .imgSnieg {
      max-height: 500px;
      max-width: 500px;
      height: auto;
      display: block;
      margin: 0 auto;
      margin-top: 5rem;
      margin-bottom: 5rem;
      background-color: #ffffff;
    }

    @media only screen and (max-width: 1366px) {
      .imgSnieg{
        max-height: 325px; 
        max-width: 325px;
      }
    }

    @media only screen and (max-width: 1024px) {
      .imgSnieg{
        max-height: 300px; 
        max-width: 300px;
      }
    }
    @media only screen and (max-width: 480px) {
    .imgSnieg{
     max-height: 200px; 
     max-width: 200px;
      }
    }
    
    .imgGeonode {
      max-height: 500px; 
      max-width: 500px; 
      height: auto; 
      display: block; 
      margin: 0 auto;
      margin-top: 3rem;
      margin-bottom: 3rem; 
      background-color: #113250;
    }

    @media only screen and (max-width: 1366px) {
      .imgGeonode{
        max-height: 400px; 
        max-width: 400px;
      }
    }

    @media only screen and (max-width: 1024px) {
      .imgGeonode{
        max-height: 350px; 
        max-width: 350px;
      }
    }
    @media only screen and (max-width: 480px) {
    .imgGeonode{
     max-height: 200px; 
     max-width: 200px;
      }
    }
  
    /* Cambio en resolución para titulo temas de atualidad */

    .TituloTemas{
      margin-bottom: 2rem; 
      font-family: Helvetica, Sans-Serif;
    }
    @media only screen and (max-width: 1280px),(min-width: 1024px) and (max-height: 768),(min-height: 720px) {
     .TituloTemas{
      margin-bottom: 2rem; 
      font-family: Helvetica, Sans-Serif;
      font-size: 2rem;
     }
    }
    @media only screen and (max-width: 480px) {
      .TituloTemas{
        margin-bottom: 2rem; 
        font-family: Helvetica, Sans-Serif;
        font-size: 1.5rem;
      }
    }

    @media only screen and (max-width: 480px) {
      .TituloApartado{
        font-size: 1rem;
      }
    }

    /* Cada parrafo de texto en sección "Temas de actualidad" ver. Dispositivos moviles */

    @media only screen and (max-width: 480px){
      .customParrafo{
        font-size: 0.7rem;
        text-align: start;
        font-family: Helvetica, Sans-Serif
      }
      p {
        font-family: Helvetica, Sans-Serif;
      }
    }
  
    @media only screen and (max-width: 480px){
      .SubtituloParrafo{
        font-size: larger;
      }
    }
    