<main>

  <!--TODO: CARRUSEL -->
  <div id="myCarousel" class="carousel carousel-dark slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>

    <div class="carousel-inner">
      <!--! INEGI CARRUSEL -->
      <div class="carousel-item active">
        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
          style="width: 100%; height: 100%; object-fit: cover;">
          <source
            src="https://cdn.hubblecontent.osi.office.net/videos/publish/01d87b62-62fc-488b-8880-2d4d8674a18f/1170533217.mp4"
            type="video/mp4">
        </video>
        <div class="container">
          <div class="carousel-caption text-end">

            <img focusable="false" src="./assets/inegilogowhite.png" alt="Mi SVG"
              style="max-width: 500px; height: auto;  margin: 0 auto;">
            <h1 style="color: white;">Productos detectados en las direcciones generales.</h1>
            <p style="color: white;">Descubre los productos detectados y catalogados por direcciones generales.
            </p>
            <button class="btn btn-lg btn-light" [routerLink]="['/dg/products']" href="#">Ver más</button>
          </div>
        </div>
      </div>

      <!--! MDEA CARRUSEL -->
      <div class="carousel-item" style="background-color: #e6e6e6;">

        <img focusable="false" src="./assets/mdea.png" alt="Mi SVG"
          style="max-height: 100%; height: auto; display: block; margin: 0 auto; margin-right: 10.5rem; float: right;">

        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color: #007a98; max-width: 700px;">Relación con el Marco para el Desarrollo de las Estadísticas Ambientales.</h1>
            <p style="color: #007a98; margin-left: 5px;">Explora para saber más.</p>
            <button class="btn btn-lg custom-btn-color" style="margin-left: 5px;" [routerLink]="['/dg/mdea']" href="#">Ver más</button>
          </div>
        </div>
      </div>

      <!--! ODS CARRUSEL -->
      <div class="carousel-item" style="background-color: white; border-bottom: 1px solid #009edb; position: relative;">
      <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
        style="width: 100%; height: 100%; object-fit: cover; position: absolute; z-index: 1;">
        <source
          src="https://sdgintegration.undp.org/video/29062020/SDGi-Low.mp4"
          type="video/mp4">
      </video>
      <div class="container" style="position: relative; z-index: 2;">
        <img
          src="https://www.un.org/sustainabledevelopment/wp-content/uploads/sites/3/2020/05/SDG_website_banner_S_100px.png"
          srcset="https://www.un.org/sustainabledevelopment/wp-content/uploads/sites/3/2020/05/SDG_website_banner_S_100px.png 1x, https://www.un.org/sustainabledevelopment/wp-content/uploads/sites/3/2020/05/SDG_website_banner_S.png 2x"
          width="841" height="100" alt="Desarrollo Sostenible Logo"
          style="max-height: 100px; height: auto; display: block; margin: 0 auto; margin-top: 7rem; "
          data-retina_logo_url="https://www.un.org/sustainabledevelopment/wp-content/uploads/sites/3/2020/05/SDG_website_banner_S.png">
      </div>


      <div class="carousel-caption"
        style="position: absolute;">
        <h1 style="color: #009edb;">Relación con los Objetivos de Desarrollo Sostenible.</h1>
        <p style="color: #009edb;">Explora para saber más.</p>
        <button class="btn btn-lg custom-btn-color2" [routerLink]="['/dg/ods']" href="#">Ver más</button>
      </div>
      </div>

      <!--! SNIEG -->
      <div class="carousel-item" style="background-color: #e1e3e6;" data-duration="7000">

        <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true"
          style="width: 100%; height: 100%; object-fit: cover;">
          <source src="./assets/clip.mp4" type="video/mp4">
        </video>

        <div class="container">
          <div class="carousel-caption text-end">
            <!-- <h1 style="color: #5a6889; ">Indicadores ambientales desarrollados por el INEGI</h1> -->
            <p style="color: #5a6889; ">Descubre más sobre indicadores ambientales producidos en el INEGI.</p>
            <button class="btn btn-lg custom-btn-color3" [routerLink]="['/dg/indicadores']" href="#">Ver más</button>
          </div>
        </div>
      </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




  <div class="container marketing">

    <!--TODO: LAS DIRECCIONES CON ICONOS-->
    <div class="row justify-content-center align-items-center">

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="d-flex justify-content-center ">

          <i class="bi bi-globe display-1" style="color: #113250;"></i>
        </div>
        <h3 class="fw-normal text-center">Dirección General de Geografía y Medio Ambiente.</h3>
        <h3 style="text-align: center; color: #004045;">Total de productos:</h3>
          <h1 style="text-align: center; color: #1a538c; font-family: 'Monaco', monospace; font-weight: bold;">{{ primerDir }}</h1>


        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary mt-2" (click)="navigateWithParam()" href="#">Ver productos detectados</button>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="d-flex justify-content-center ">
          <i class="bi bi-bar-chart display-1 " style="color: #113250;"></i>
        </div>
        <h3 class="fw-normal text-center">Dirección General de Estadísticas Sociodemográficas.</h3>
        <h3 style="text-align: center; color: #004045;">Total de productos:</h3>
        <h1 style="text-align: center; color: #1a538c; font-family: 'Monaco', monospace; font-weight: bold">{{ segundaDir }}</h1>

        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary mt-2" (click)="navigateWithParam1()" href="#">Ver productos detectados</button>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="d-flex justify-content-center ">
          <i class="bi bi-cash-stack display-1 " style="color: #113250;"></i>
        </div>
        <h3 class="fw-normal text-center">Dirección General de Estadísticas Económicas.</h3>
        <h3 style="text-align: center; color: #004045;">Total de productos:</h3>
        <h1 style="text-align: center; color: #1a538c; font-family: 'Monaco', monospace; font-weight: bold"> {{ terceraDir }}</h1>

        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary mt-2" (click)="navigateWithParam2()" href="#">Ver productos detectados</button>
        </div>
      </div>

      <div class="mt-5"></div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="d-flex justify-content-center ">
          <i class="bi bi-bank display-1 " style="color: #113250;"></i>
        </div>
        <h3 class="fw-normal text-center ">Dirección General de Estadísticas de Gobierno, Seguridad Pública y Justicia.
        </h3>
        <h3 style="text-align: center; color: #004045;">Total de productos: </h3>
        <h1 style="text-align: center; color: #1a538c; font-family: 'Monaco', monospace; font-weight: bold">{{ cuartaDir }}</h1>

        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary custom-buttonMT mt-2" (click)="navigateWithParam3()" href="#">Ver productos detectados</button>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="d-flex justify-content-center ">
          <i class="bi bi-file-earmark-text display-1 " style="color: #113250;"></i>
        </div>
        <h3 class="fw-normal text-center " style="height: 6.4rem;">Dirección General de Integración, Análisis e
          Investigación .</h3>
          <h3 style="text-align: center; color: #004045;">Total de productos: </h3>
          <h1 style="text-align: center; color: #1a538c; font-family: 'Monaco', monospace; font-weight: bold;">{{ quintaDir }}</h1>

        <div class="d-flex justify-content-center">
          <button class="btn btn-secondary mt-2" (click)="navigateWithParam4()" href="#">Ver productos detectados</button>
        </div>
      </div>



    </div>



    <!--! START THE FEATURETTES -->



    <hr class="featurette-divider">

    <div class="row">
      <div class="col">
        <h1 class="display-5" style="margin-bottom: 2rem;">Temas de actualidad</h1>
      </div>
    </div>
    <div class="row" style=" margin-bottom: 15rem; background-color: #eef5f8; ">


      <div class="col-4" style="border-right: solid 15px; border-color: #ffffff;">
        <div class="row">
          <div class="col-12" [ngClass]="{'selected': !isINEGISelected}" (click)="hiddenTheOtherContents_INEGI()"
            style="cursor: pointer; border-bottom: solid 3px; border-color: #ffffff; padding-top: 1.5rem; padding-bottom: 1.5rem;">
            <h4  >
              Productos detectados en las direcciones generales.
            </h4>
          </div>
          <div class="col-12" [ngClass]="{'selected': !isMDEASelected}" (click)="hiddenTheOtherContents_MDEA()"
            style="cursor: pointer; border-bottom: solid 3px; border-color: #ffffff; padding-top: 1.5rem; padding-bottom: 1.5rem;">
            <h4  >
              Marco para el Desarrollo de las Estadísticas Ambientales.
            </h4>
          </div>
          <div class="col-12" [ngClass]="{'selected': !isODSSelected}" (click)="hiddenTheOtherContents_ODS()"
            style="cursor: pointer; border-bottom: solid 3px; border-color: #ffffff; padding-top: 1.5rem; padding-bottom: 1.5rem;">
            <h4  >
              Objetivos de Desarrollo Sostenible.
            </h4>
          </div>
          <div class="col-12" [ngClass]="{'selected': !isINDSelected}"
            style="cursor: pointer; border-bottom: solid 3px; border-color: #ffffff; padding-top: 1.5rem; padding-bottom: 1.5rem;">
            <h4>
              Indicadores.
            </h4>
          </div>
        </div>





      </div>


      <!--! INEGI -->
      <div class="col-8" >
        <div [hidden]="isINEGISelected" class="row" >
          <div class="col-12 p-0 m-0" style=" background-color: #113250;">
            <img focusable="false" src="./assets/inegilogowhite.png" alt="Mi SVG"
              style=" max-height: 500px; max-width: 500px; height: auto; display: block; margin: 0 auto; margin-top: 5rem; margin-bottom: 5rem; background-color: #113250;">
          </div>
          <div class="col-12">


            <div style="margin: 2rem; margin-bottom: 5rem;">
              <h2 style="color: #036baa;">Productos detectados en las direcciones generales.</h2>
              <p class="lead">"En nuestro sistema, hemos logrado un hito importante al detectar y asignar la mayoría de los
              productos registrados por
              el INEGI. Pero nuestra labor no se detiene allí. Hemos llevado a cabo una integración profunda, vinculando cada
              uno de
              estos productos con actividades estadísticas geográficas, programas de información y programas sectoriales. En
              este
              proceso, hemos asignado posibles variables que enriquecen la información de cada producto.
            </p>
            <p class="lead">
              Pero lo que hace que nuestro sistema sea aún más poderoso es su conexión con el MDEA (Marco de Desarrollo
              Estadístico) y
              su alineación con los ODS (Objetivos de Desarrollo Sostenible). Estas conexiones estratégicas permiten una gestión
              más
              eficiente y una comprensión más profunda de la información estadística.
            </p>
            <p class="lead">
              Bienvenido a un mundo de datos en constante evolución, donde la integración y la visión integral son nuestra
              prioridad.
              ¡Explora y descubre cómo nuestra plataforma transforma la forma en que comprendemos y utilizamos los datos
              estadísticos!".
            </p>
            </div>


          </div>
        </div>

        <!--! MDEA  -->
        <div [hidden]="isMDEASelected" class="row" >
          <div class="col-12 " style=" background-color: #e6e6e6; margin-left: 0px;">
            <img focusable="false" src="./assets/mdea.png" alt="Mi SVG"
              style=" max-height: 30rem; max-width: 500px; height: auto; display: block; margin: 0 auto;   ">
          </div>
          <div class="col-12 mt-2">
            <div style="margin: 2rem; margin-bottom: 5rem;">
              <h2 style="color: #036baa;">Marco para el Desarrollo de las Estadísticas Ambientales.</h2>
              <p class="lead">El MDEA organiza las estadísticas ambientales en seis componentes, cada uno
              de los cuales se desagrega en subcomponentes y a su vez en tópicos estadísticos.
              </p>

              <p class="lead">
                Los temas estadísticos representan los aspectos cuantificables de los componentes y están agrupados en subcomponentes,
                tomando en cuenta los tipos y fuentes de las estadísticas necesarias para describirlos.

              </p>

            </div>

          </div>
        </div>

        <!--! ODS -->
        <div [hidden]="isODSSelected" class="row" style=" margin: 1px;">
          <div class="col-12" style=" margin: 1px; background-color: #113250;">
            <img focusable="false" src="./assets/logoODS_es.png" alt="Mi SVG"
              style=" max-height: 500px; max-width: 500px; height: auto; display: block; margin: 0 auto; margin-top: 5rem; margin-bottom: 5rem; background-color: #113250;">
          </div>
          <div class="col-12 m-2">
            <div style="margin: 2rem; margin-bottom: 5rem;">
              <h2 style="color: #036baa;">Objetivos de Desarrollo Sostenible.</h2>
              <p class="lead">Los Objetivos de Desarrollo Sostenible (ODS), fueron adoptados por las
                Naciones Unidas en 2015 como un llamado universal para poner fin a la pobreza, proteger el planeta y garantizar
                que
                para el 2030 todas las personas disfruten de un futuro fundamentado en la sostenibilidad.
              </p>

              <p class="lead">
                La creatividad, el conocimiento, la tecnología y los recursos financieros de toda la sociedad son necesarios para
                alcanzar los ODS en todos los contextos.
              </p>
            </div>

          </div>
        </div>


      </div>



    </div>

  </div>









