
.carousel {
  margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
}


.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}


.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


.featurette-divider {
  margin: 5rem 0;

}

.featurette-heading {
  letter-spacing: -.05rem;
}

/*! botones modificados */
.custom-btn-color {
  background-color: #007a98;
  color: #fff;
}
.custom-btn-color:hover {
  background-color: #005f75;
}
.custom-btn-color2 {
  background-color: #009edb;
  color: #fff;
}
.custom-btn-color2:hover {
  background-color: #007bb2;
}

p{
 font-family: Arial, Helvetica, sans-serif;
}

.selected {
  color: #ffffff;
  background-color: #00528a;
}
