<ng-container *ngIf="loading; else content">


  <div class="d-flex justify-content-center maginTop">
    <div class="spinner-grow m-2"  style="color: #113250; width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow m-2" style="color: #113250; width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow m-2" style="color: #113250; width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="d-flex justify-content-center m-2">
      <div class="">
        <h4>Cargando...</h4>
      </div>
    </div>

</ng-container>



<ng-template #content>
  <!-- Contenido principal -->
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let dg of dgs; let i = index">
          <div class="card shadow-sm p-2 mb-3 bg-body-tertiary rounded" style="height: 25rem;"
            [routerLink]="['/dg/content', dg.id]">
            <img [src]="imgArray[i].img" style="height: 25rem;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="color: #113250;">{{ dg.text }}</h5>
              <p class="card-text">Productos Detectados: {{ productCounts[i] }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>



